        <li><a href="/APIs-and-Data-Exchange">APIs & Data Exchange</a></li>
        <li><a href="/Climate-Change">Climate Change</a></li>
        <li><a href="/Covid-19-response">Covid-19 Response</a></li>
        <li><a href="/Data-architecture">Data Architecture</a></li>
        <li><a href="/Data-capability">Data Capability</a></li>
        <li><a href="/Data-engineering">Data Engineering</a></li>
        <li><a href="/Data-governance-and-Data-Ethics">Data Governance and Data Ethics</a></li>
        <li><a href="/Data-management">Data Management</a></li>
        <li><a href="/Data-quality">Data Quality</a></li>
        <li><a href="/Data-science-and-analysis">Data Science and Analysis</a></li>
        <li><a href="/Data-Sharing">Data Sharing</a></li>
        <li><a href="/Data-standards">Data Standards</a></li>
        <li><a href="/Data-Standards-Authority">Data Standards Authority</a></li>
        <li><a href="/DQHub">DQub</a></li>
        <li><a href="/Manchester">Manchester</a></li>
        <li><a href="/Metadata-and-catalogues">Metadata and Catalogues</a></li>
        <li><a href="/Open-Data">Open Data</a></li>
        <li><a href="/Reference-and-master-data">Reference and Master Data</a></li>
        <li><a href="/Senior-Leaders">Senior Leaders</a></li>
        <li><a href="/other">Other</a></li>