<p><h2>Monday</h2></p>
10:00am to 11:00am Understanding data quality with Data Quality Action Plans<br>
10.30am to 11.30am - View from the top: Data leadership at senior levels<br>
10:30am to 11:00am The benefits of good API documentation<br>
11:00am to 12:00pm NHSX AI Skunkworks: Data showcase<br>
11.30am to 12:30pm Keynote from Alison Pritchard - Data on a roll in the Public Sector<br>
1:00pm to 2:00pm An introduction to cross-government data standards<br>
1:00pm to 2:00pm Reference Data Management Framework - how to manage reference data and use it to link data across government<br>
2:00pm to 2:45pm Data sharing opportunities and challenges<br>
2:00pm to 3:00pm - An introduction to the Data Standards Authority<br>
3:00pm to 4:00pm Near real time use of publicly available Environment Agency data<br>
3.00pm to 4.00pm Keynote: Leading Cross-government Data Transformation</p>