<p><h2>Tuesday</h2></p>
9:30am to 11:00am Practical experiences in connecting government data<br>
10:00am to 10:45am Data sharing: Supplier contact and engagement workshop<br>
10.00am to 11.00 am RAP: Software engineering in analysis!<br>
11.00am to 12:00pm API Platforms, the why and the how<br>
11:00am to 12:00pm (ICO / CDEI) Privacy Enhancing Technologies and lowering barriers to adoption<br>
11:00am to 12:00pm Creating collaborative data challenge communities<br>
11:00am to 12:00pm Where to begin with quality of admin data – a framework to assess administrative data quality for statistics<br>
12:00pm to 1:00pm Data Quality Strategy - making it a reality<br>
1:00pm to 2:00pm Join the web of data with CSVW<br>
1:00pm to 2:00pm National Data Strategy: One Year On<br>
2:00pm to 2:45pm Data Sharing: Negotiation and Agreement workshop<br>
2:00pm to 3:00pm Metadata - the backbone of the data value chain<br>
2:00pm to 3:00pm Data Quality Action Plans Workshop 1<br>
3:00pm to 4:00pm Data Engineering UK government administrative data<br>
3:00pm to 4:00pm Data Literacy – What is it and what do I do with it?</p>