<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-menu-title">
    Menu
  </h2>
  <nav role="navigation" aria-labelledby="subsection-menu-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="/speakerpack">
         Run a session at DC23 - info
        </a>
      </li>
      <li>
        <a href="/code_of_conduct">
          Code of Conduct
        </a>
      </li>
    </ul>
  </nav>

  <h2 class="govuk-heading-m" id="subsection-menu-title">
    Previous DataConnect programmes
  </h2>
  <nav role="navigation" aria-labelledby="subsection-menu-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://dataconnect.api.gov.uk/dc22/schedule">
         DataConnect22 programme
        </a>
      </li>
      <li>
        <a href="https://dataconnect.api.gov.uk/dc21/schedule">
         DataConnect21 programme
        </a>
      </li>
    </ul>
  </nav>

  <h2 class="govuk-heading-m" id="subsection-related-links-title">
    Related links
  </h2>
  <nav role="navigation" aria-labelledby="subsection-related-links-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/government/organisations/central-digital-and-data-office">
          Central Digital and Data Office
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/government-data-quality-hub/">
         Data Quality Hub
        </a>
      </li>
      <li>
        <a href="https://dataingovernment.blog.gov.uk/">
         Data in Government Blog
        </a>
      </li>
    </ul>
  </nav>
</aside>

