<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-menu-title">
    Menu
  </h2>
  <nav role="navigation" aria-labelledby="subsection-menu-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="/speakerpack">
         How to run a session at DataConnect23
        </a>
      </li>
      <li>
        <a href="/register_your_session">
          Propose a session for DataConnect23
        </a>
      <li>
        <a href="/code_of_conduct">
          DataConnect23 Code of Conduct
        </a>
      </li>
    </ul>
  </nav>

  

  <h2 class="govuk-heading-m" id="subsection-related-links-title">
    Related links
  </h2>
  <nav role="navigation" aria-labelledby="subsection-related-links-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/government/organisations/central-digital-and-data-office">
          Central Digital and Data Office
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/government-data-quality-hub/">
         Data Quality Hub
        </a>
      </li>
    </ul>
  </nav>
</aside>

