<p><h2>Friday</h2></p><h2>10.00am to 10:30am Data on a Roll: What we learned from rewriting our data strategy</h2><p><p> The ONS is the UK’s largest independent producer of official statistics. We collect and publish statistics related to the economy, population, and society at all levels. So, writing a new data strategy to account for all of this AND the new national data strategy and integrated data service should be easy, right?  

<br>Find out how we did it and why you are a part of it. </p>

<p>Format: Presentation with a Q&A at the end of it. 
<br>Speaker: Matt Davies, Office for National Statistics
<br>Connect: [ONS Data Strategy](https://www.ons.gov.uk/aboutus/transparencyandgovernance/datastrategy), [National Data Strategy](https://www.gov.uk/government/publications/uk-national-data-strategy), [Integrated Data Service](https://integrateddataservice.gov.uk/)
<br>Date and time: Friday 30th September, 10am to 10:30am
<br>Length of session: 30 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/401108555487
</p>
</p><h2>10.30am to 11.15am Interoperability One Data</h2><p><p>Session: The Interoperability programme is enabling systems and services which span departmental boundaries to connect data together seamlessly to modernise our ways of working. These projects will improve data flows between departments, open up shared access to technology and workspaces and support a more coherent approach to understanding and building capability across the Civil Service.</p>

<p>We will present overviews of four key initiatives with a focus on skills taxonomies, traceability of data and automation, APIs and data standards.</p>

<p>Attendees will have the opportunity to comment and question project leads on what the changes mean for them and their departments.</p>

<p>Session: IOD intro and overview by Richard Wilkes, then project show and tells for the 4 projects as follows:
<br>Workforce Data: Nia Williams (focused on skills taxonomy)
<br>Staff Transfers: Claire Comerford (traceability of data and automation)
<br>Integration Hub: Mark Watson (APIs and patterns)
<br>CEI: Bleddyn Preece (data standards and integrity)</p>

<p>Format: Presentation with Q & A
<br>Session presenters: Richard Wilkes, Nia Williams, Claire Comerford, Mark Watson and Bleddyn Preece.
<br>Date and time: Friday 30th September, 10.30am to 11.15am
<br>Length of session: 45 minutes
<br>Open to all
<br>Sign-up link: https://www.eventbrite.com/e/interoperability-one-data-tickets-400254490957
</p></p><h2>11.00am to 11:30am Investigating the impact of UK sanctions on DIT activity: How we used Data Workspace and NLP to identify sanctioned companies</h2><p><p>We will be providing an overview of a recent project undertaken to identify potential matches between records of companies, contacts and investment projects on our customer databases and the gov.uk UK Sanctions List.     </p>

<p>This work took place in light of the Russian invasion of Ukraine in order to coordinate DIT international activity with the sectorial financial and investment restrictions in place in the Russia sanctions regime.  </p>

<p> This session is recommended to anyone with an interest in data science, analysis and extraction, in particular natural language progressing methods (NLP), as well as anyone with a general interest in geopolitics and international relations.</p>

<p>Format: Show and Tell
<br>Speaker/s: Leah Levy
<br>Connect: add useful link
<br>Date and time: Day 30th September, 11amto 11:30am
<br>Length of session: 30 minutes
<br>Open to all? No - UK government/public sector only (tbc)
<br>Sign-up link: https://www.eventbrite.co.uk/e/394457140927/
</p>
</p><h2>12.00pm to 1.00pm The Government Data Maturity Model: Meet the Model</h2><p><p> In order to deliver the ambitions of the National Data Strategy, we need to understand how well government organisations are approaching data and data management. 
<br>Over the past two years, the Government Data Quality Hub has been developing and testing a maturity model that will help organisations to assess themselves, then identify changes that will help them improve their data maturity. This model will be taken forward by the Central Digital & Data Office in Cabinet Office, and rolled out across government.
<br>This session will take you on a tour of the model, looking at its structure and how different aspects of data maturity are reflected. There won’t be time to look at everything but it will give you a n overview and a better idea of how it works in practice. 
<br>This is one of four sessions across the week that feature the Data Maturity Model.
</p>

<p>Format: Presentation with time for questions
<br>Speaker: Matt Thompson, Government Data Quality Hub
<br>Date and time: Friday 30th September, 12pm to 1pm
<br>Length of session: 60 minutes
<br>Open to all? Yes
<BR>Signup link: https://www.eventbrite.co.uk/e/the-government-data-maturity-model-meet-the-model-tickets-390606082307
</p>
</p><h2>2:00pm to 2:30pm CoffeeConnect: Session 3</h2><p><p>Join us for a coffee roulette session to connect and network with fellow attendees. This is a casual session where you will be randomly placed into small groups to chat and make connections.
<br>You do not need to stay for the whole session. Join when you are ready and leave when you need to.</p>


<p>Format: Interactive, informal networking.
<br>Speaker/s: You!
<br>Connect: http://dataconnect.api.gov.uk/
<br>Date and time: Friday 30th September, 2pm to 2:30pm
<br>Length of session: 30 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/coffeeconnect-session-3-tickets-395887388837
</p>
</p><h2>2.00pm to 3.00pm DIT’s Data Workspace – building modern data infrastructure to support businesses around the world</h2><p><p>We will be showcasing our analysis and reporting platform, Data Workspace. It integrates data from internal and public systems with a range of open-source analysis and visualisation tools, so DIT staff can analyse data and share the outputs quickly, easily and securely. We will explain how and why we embarked on this project and give a live demonstration of some of its most useful and innovative features. This will be of interest to anyone in the DDaT profession, though may be of particular interest to technology and data architects, data analysts and scientists, data engineers and developers. </p>
<p>Format: Presentation
<br>Speaker: Anthony Love
<br>Connect: [Our data story: building effective tools to support businesses around the world](https://digitaltrade.blog.gov.uk/2020/01/27/our-data-story-building-effective-tools-to-support-businesses-around-the-world/)
<br>Date and time: Friday 30th September, 2pm to 3pm
<br>Length of session: 50 minutes
<br>Open to all? Yes
<br>Sign-up link: https://www.eventbrite.co.uk/e/department-for-international-trades-data-workspace-tickets-394446198197
</p>
</p><h2>3.00pm to 4.00pm Data Quality Action Plans - Workshop 3</h2><p><p>This workshop will provide focused support to help you take the first steps in creating a Data Quality Action Plan for a dataset in your organisation. It is an interactive workshop session so please come with a dataset in mind.
<br>Ideally, you should have attended Monday's session introducing the Data Quality Action Plan approach, or completed the [Data Quality Action Plans E-Learning](https://bpi-courses.github.io/Data-Quality-Action-Plans) to get the most from this session. 
<br>Attendees will be limited to just three people so we can provide the best support. Please sign up to only one workshop session in the week, this is a single, one-hour session rather than a course of sessions.
<br>If you'd like this workshop run for your team, please email dqhub@ons.gov.uk</p>

<p>Format: Interactive workshop
<br>Speaker: Rebecca Strickland, Government Data Quality Hub
<br>Useful Links: [Government Data Quality Framework](https://www.gov.uk/government/publications/the-government-data-quality-framework), [Introduction to Data Quality Assessments E-Learning](https://bpi-courses.github.io/Introduction_to_data_quality_assessments) and [Data Quality Action Plans E-Learning](https://bpi-courses.github.io/Data-Quality-Action-Plans)
<br>Date and time: Friday 30th September, 3pm to 4pm
<br>Length of session: 60 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/data-quality-action-plans-workshop-3-tickets-391053961927
</p>
</p>