<p><h2>Thursday</h2></p><h2>10.00am to 11.00am Data Quality Action Plans - Workshop 2</h2><p><p>This workshop will provide focused support to help you take the first steps in creating a Data Quality Action Plan for a dataset in your organisation. It is an interactive workshop session so please come with a dataset in mind.
<br>Ideally, you should have attended Monday's session introducing the Data Quality Action Plan approach, or completed the [Data Quality Action Plans E-Learning](https://bpi-courses.github.io/Data-Quality-Action-Plans) to get the most from this session. 
<br>Attendees will be limited to just three people so we can provide the best support. Please sign up to only one workshop session in the week, this is a single, one-hour session rather than a course of sessions.
<br>If you'd like this workshop run for your team, please email dqhub@ons.gov.uk</p>

<p>Format: Interactive workshop
<br>Speaker: Rebecca Strickland, Government Data Quality Hub
<br>Useful Links: [Government Data Quality Framework](https://www.gov.uk/government/publications/the-government-data-quality-framework), [Introduction to Data Quality Assessments E-Learning](https://bpi-courses.github.io/Introduction_to_data_quality_assessments) and [Data Quality Action Plans E-Learning](https://bpi-courses.github.io/Data-Quality-Action-Plans)
<br>Date and time: Thursday 29th September, 10am to 11am
<br>Length of session: 60 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/data-quality-action-plans-workshop-2-tickets-391053209677
</p>
</p><h2>10:30am to 11am Data at your fingertips</h2><p><p>Come and join our Integrated Data Service (IDS) team as they give an overview of the IDS vision and what it means for the future of deidentified data sharing and collaborative analysis in the UK. 

<br>The Integrated Data Service (IDS) is a new cross-government initiative which has been designed to transform the way de-identified data about our society and economy is made available for vital research and decision making in the UK. The service is open to analysts within government, the Devolved Administrations and external accredited researchers, allowing them to carry out analysis that addresses major societal challenges.

<br>The service is a key enabler of the Government’s National Data Strategy and Modernisation agenda, and will provide improved forms of data, alongside analytical and visualisation tools, in a secure multi-cloud infrastructure. The service also supports the governments ambition of transforming for a digital future from 2022 and beyond.

<br>We will be covering several key areas during the session, including our mission and the benefits the IDS will offer. 

<br>We look forward to seeing you there. 

</p>

<p>Format: Presentation
<br>Speaker: Dominic Hale. Head of Strategy,  Integrated Data Programme
<br>Date and time: Thursday 29th September,10:30am to 11am
<br>Length of session: 30 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/data-at-your-fingertips-tickets-400626493627
</p>
</p><h2>11.00am to 12.00pm The empty maps of Wales</h2><p><p>Welsh is an official language in the UK. Public bodies that serve the people of Wales are required to provide services in Welsh and English. Public bodies cannot, currently, provide digital mapping services in Welsh. It is not possible, for example, to obtain Welsh-language tiles from the Ordnance Survey. Official sources of Welsh names for places and features are far from comprehensive and using alternative sources can be complex in technical and policy terms.

<br>Mapio Cymru is a project hosted by Data Orchard CIC that has aimed to highlight and solve the problem of the empty maps. The project provides a full set of mapping tiles covering Wales using only Welsh-language data (from OpenStreetMap and Wikidata) and works with public bodies to help them solve the problem of empty maps.

<br>In this presentation Mapio Cymru will talk about the problem, why it matters, what has been done to address it so far and what more public bodies could do to address it in the future.

<br>Speakers: Carl Morris, Ben Proctor and David Wyn Williams from Mapio Cymru.

<br>Carl Morris: Development Lead, Mapio Cymru
Carl is a web developer and consultant. His professional interests include open innovation, collaborative platforms, software freedom, media reform, civic technology, and developing minoritised and under-resourced human languages.

<br>Ben Proctor: Innovation Director, Data Orchard CIC
Ben is passionate about ensuring data and evidence are embedded in policy and decision making and enabling organisations to deliver excellent services in the digital age. Ben is the data lead of Mapio Cymru and ensures that its projects are delivered effectively and within resource constraints.

<br>Wyn Williams: Project and outreach manager
Wyn is a translator, researcher and campaigner for the Welsh language. He’s passionate about supporting Welsh-speaking communities and ensuring that the language can be used in all aspects of daily life.
</p>

<p>Format: Presentation
<br>Speakers: Carl Morris, Ben Proctor & Wyn Williams
<br>Resources:<ul>
<li>View the map https://openstreetmap.cymru 
<li>View the project site https://mapio.cymru/en/
<li>A post on the state of Welsh-language mapping: https://mapio.cymru/en/2022/05/sut-mae-mapio-yn-y-gymraeg/ </ul> 
<br>Date and time: Thursday 29th September, 11am to 12pm
<br>Length of session: 60minutes
<br>Open to all? Yes
<br>Sign-up link: https://www.eventbrite.co.uk/e/the-empty-maps-of-wales-tickets-394256841827
</p>
</p><h2>1pm to 1:45pm Asking the right questions: A conversation toolkit for administrative data</h2><p><p>Do you use administrative data to produce statistics?
<br>If so, join us to find out about a toolkit ONS researchers are developing that could help you.  

<br>The Office for Statistics Regulation state the importance of statistical producers communicating with their admin data supply partners to help understand the data they are using. It is advised that this communication should be on-going to ensure producers are aware of and consider any impacts of changes to datasets. 
<br>To support these vital conversations, we are developing a conversation toolkit which will consist of: 
<ul>
<li>a comprehensive question bank</li>
<li>a conversation template</li>
<li>guidance for communicating with supply partners </li>
</ul>

<br>Join our show and tell session to find out more about the toolkit, to provide your feedback and to help inform its design.
</p>


<p>Format: Show and tell
<br>Speakers: Kim Warne and Jenny Knight. 
<br>Kim is an Assistant Methodologist and Jenny is a Senior Researcher and Qualitative Specialist based in the Methodological Research Hub at ONS.

<br>The toolkit that they are developing seeks to support implementation of specific aspects of the guidance on Quality Assurance of Administrative Data, as set out by the Office for Statistics Regulation, and the Administrative Data Quality Framework which is currently being developed by their colleagues at ONS.
<br>Connect: [Quality Assurance of Administrative Data](https://osr.statisticsauthority.gov.uk/guidance/administrative-data-and-official-statistics/)
<br>Date and time: Day 29th September, 1pm to 1:45pm
<br>Length of session: 45 minutes
<br>Open to all? Yes
<br>Signup link: https://www.eventbrite.co.uk/e/asking-the-right-questions-a-conversation-toolkit-for-administrative-data-tickets-401158003387
</p>
</p><h2>2.00pm to 2.30pm Natural language processing: cutting through the noise to make use of gov.uk feedback data</h2><p>Title of your session 

Natural language processing: cutting through the noise to make use of gov.uk feedback data

Description of your session (what it's about, who might be interested - one paragraph is plenty!)

In 2021 users left over half a million pieces of feedback on GOV.UK. Traditional approaches to analyse this data are manual, time consuming, and inaccurate. This session will explore how we are using Natural Language Processing (NLP), a field of machine learning dedicated to the analysis of natural language and speech, to automate the analysis and extraction of insights from this rich source of data. Anyone with an interest in making better use of data, automating existing workflows, and data science/data engineering would suit this session. 

Names of people presenting (if they'd like to appear in the description)

James Marvin, Chet Chauhan-Sims, Harry Wrightson, 

Date and time you'd like to run it.

Any time within the window

Length of session (eg 30 minutes, 50 minutes)

30 minutes

Useful link, if you have a website or blog post about your project

N/A

Whether it's open to all or restricted to UK government and public sector folk only.

Open to all

A contact name and email address (will not be on the agenda - just for admin)

Harry Wrightson, Harry.wrightson@digital.cabinet-office.gov.uk

Link to join via Teams or Google Meet OR request to use ours

Please can we use yours

NEEDS MEETING LINK CREATING
</p><h2>2.00pm to 3.00pm A day in the life of a Research Ethics Committee</h2><p><p>Have you ever wondered what research ethics committees REALLY do, and what it is they consider when they look at different research projects? Join us for an interactive session where you will become a member of an ethics panel, working through the different ethical issues associated with a research project. How will you support the researchers to go ahead with their plans? Or perhaps it’s just too much of a risk? You decide! 
<br>The workshop will help you to better understand what we – the UK Statistics Authority’s data ethics team (at the Centre for Applied Data Ethics) - and the National Statistician’s Data Ethics Advisory Committee consider when looking at research projects for the first time.
</p>

<p>Format: Interactive workshop
<br>Session host: The Centre for Applied Data Ethics
<br>Connect: [Centre for Applied Data Ethics – UK Statistics Authority](https://uksa.statisticsauthority.gov.uk/what-we-do/data-ethics/centre-for-applied-data-ethics/)
<br>Date and time: Thursday 29th September, 2pm to 3pm
<br>Length of session: 60 minutes
<br>Open to all!
<br>Sign-up link: https://www.eventbrite.co.uk/e/a-day-in-the-life-of-a-research-ethics-committee-tickets-393036912987
</p>
</p>