{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect23
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect23</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
  

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl gem-c-title__context">
    Promotional material
  </span>


  <h1 class="gem-c-title__text govuk-heading-xl">
    Business events
  </h1>
</div>
  <p class="publication-header__last-changed">Updated 21 June 2023</p>

  </header>



<div id="contents">
  <div class="govuk-grid-row">

    <div class="print-wrapper">
      <div class="meta-data meta-data--display-print">
        <p>
  <img class="meta-data-licence" src="/assets/government-frontend/open-government-licence-min-93b6a51b518ff99714a1aa2a7d2162735c155ec3cb073c75fb88b2a332fa83d3.png">
</p>
<p>
  © Crown copyright 2023
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gov.uk">psi@nationalarchives.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://www.gov.uk/government/publications/business-events/business-events
</p>


      </div>
    </div>

    <div class="main-content-container offset-empty-contents-list">
      <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    
    
        <div class="govspeak">
<p>Please be aware that these events may be subject to change while the Coronavirus outbreak is ongoing.</p>

<p>Events marked with a # will not be attended by the Intellectual Property Office.</p>

<div class="call-to-action">
<p>Please be aware that these events may be subject to change while the Coronavirus outbreak is ongoing.</p>
</div>

<p>Events marked with a # will not be attended by the Intellectual Property Office.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>28 June to 1 July 2023</td>
      <td> </td>
      <td><a rel="external" href="https://www.newdesigners.com/" class="govuk-link">Week 1: New Designers</a></td>
      <td>Designs Centre Islington, London</td>
    </tr>
    <tr>
      <td>29 June 2023</td>
      <td>11am to 11:30am</td>
      <td><a rel="external" href="https://register.gotowebinar.com/register/8525409084412488533?source=Webmaster" class="govuk-link">IP Bitesize - Trademarks</a></td>
      <td>Webinar</td>
    </tr>
    <tr>
      <td>29 June 2023</td>
      <td>2pm to 2:30pm</td>
      <td><a rel="external" href="https://register.gotowebinar.com/register/4776284440376053595?source=Webmaster" class="govuk-link">IP Bitesize - Copyright</a></td>
      <td>Webinar</td>
    </tr>
    <tr>
      <td>5 to 8 July 2023</td>
      <td> </td>
      <td><a rel="external" href="https://www.newdesigners.com/" class="govuk-link">Week 2: New Designers</a></td>
      <td>Designs Centre Islington, London</td>
    </tr>
    <tr>
      <td>11 August 2023</td>
      <td>10am to 3pm</td>
      <td><a rel="external" href="https://www.pinklinkladies.co.uk/summer-regional-north-west/" class="govuk-link">Summer Regional - North West - Pink Link Ladies</a></td>
      <td>Blackburn</td>
    </tr>
    <tr>
      <td>23 August 2023</td>
      <td>10am to 3pm</td>
      <td><a rel="external" href="https://www.pinklinkladies.co.uk/summer-regional-cumbria/" class="govuk-link">Summer Regional - Cumbria - Pink Link Ladies</a></td>
      <td>Kendal</td>
    </tr>
    <tr>
      <td>20 September 2023</td>
      <td>9am to 5pm</td>
      <td><a rel="external" href="https://www.thejewelleryshow.co.uk/" class="govuk-link">Jewellery Show</a></td>
      <td>London</td>
    </tr>
    <tr>
      <td>21 September 2023</td>
      <td>9am to 4pm</td>
      <td><a rel="external" href="https://www.thejewelleryshow.co.uk/" class="govuk-link">Jewellery Show</a></td>
      <td>London</td>
    </tr>
    <tr>
      <td>18 October 2023</td>
      <td>9:30am to 5:30pm</td>
      <td><a rel="external" href="https://wibtexpolondon.co.uk/?step=2" class="govuk-link">Women in Business &amp; Tech</a></td>
      <td>London</td>
    </tr>
    <tr>
      <td>19 October 2023</td>
      <td>9:30am to 4:30pm</td>
      <td><a rel="external" href="https://wibtexpolondon.co.uk/?step=2" class="govuk-link">Women in Business &amp; Tech</a></td>
      <td>London</td>
    </tr>
    <tr>
      <td>22 November 2023</td>
      <td>10am to 5pm</td>
      <td><a rel="external" href="https://www.greatbritishbusinessshow.co.uk/" class="govuk-link">The Business Show 2023</a></td>
      <td>London</td>
    </tr>
    <tr>
      <td>23 November 2023</td>
      <td>10am to 5pm</td>
      <td><a rel="external" href="https://www.greatbritishbusinessshow.co.uk/" class="govuk-link">The Business Show 2023</a></td>
      <td>London</td>
    </tr>
  </tbody>
</table>
</div>


</div>
</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
</a>

  </div>
</div>


    </main>
  </div>
   
    </div>
  </div>
{% endblock %}
