<h2><div id="Wednesday-1-00pm-to-2-00pm-Data-Governance-Management-Opportunities-in-Transition-Change-Environments">1:00pm to 2:00pm Data Governance & Management Opportunities in Transition / Change Environments</div></h2><p>Description: A session to discuss risk mitigation and opportunity strategies, for improved governance and management of data, in a change environment.</p>
<p>The session will allow open discussion around the following topics...<br>
<ul><li>Causes of data decay and gaps in change.</li>
<li>Data Management Maturity/Capability Assessments DMMA .</li>
<li>Organisational readiness & change.</li>
<li>Governance Operating Models / new Infrastructure.</li>
<li>Data Ownership and Stewarding.</li>
<li>Opportunities, in data documentation, cataloging, standardisation, normalisation, joining, tagging and registers in new ecosystems.<br>
<li>Cleansing strategy.</li>
<li>Migration standards framework.</li>
<li>RDM / MDM.</li>
</ul><br>
<p>Speaker: Graham Steer, a Data Architect and Governance Consultant in MOJ HMPPS.</p>
<br>
<br>
<p>Time and date: Wednesday 1pm to 2pm</p>
<p>Link for joining or signing up: <a href="https://www.eventbrite.co.uk/e/data-governance-management-opportunities-in-transitionchange-environment-registration-176430397067">https://www.eventbrite.co.uk/e/data-governance-management-opportunities-in-transitionchange-environment-registration-176430397067</a></p>
</p><p>Categories:<a href="/Data-management">Data management</a>, <a href="/Data-Governance-and-Data-Ethics">Data Governance and Data Ethics</a>, <a href="/Data-engineering">Data engineering</a>, <a href="/Data-standards">Data standards</a>, <a href="/Data-quality">Data quality</a></p>