<p><h2>Friday</h2></p><p><h3>10:00-11:00 NHSX /NHS NOTTS / DHSC: Voices of the public: using text data</h3><br>##Session title:
Voices of the public: using text data

##Short description

##Format
An overview delivered by NHSX, and Show & Tell demonstrations by NHS Nottinghamshire and DHSC.

##Organiser(s) and organisation
Wauben, Martine, DHSC

##Time and date
Friday 1st October, 10:00 - 11:00

##Maximum capacity

##Link for joining or signing up
<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db779</p><p><h3>13:00 - 14:00 DQHub ONS Data Quality Action Plans Workshop 3</h3><br>##Session title
DQAP Workshop 3

##Short description
Do you want to make a Data Quality Action Plan? This workshop will provide focused support to help you take the first steps. Ideally you should have attended Monday's session introducing the Data Quality Action Plan approach to get the most from this session. 
Attendees will be limited to just three people so we can provide the best support. If you'd like this workshop run for your team, please email dqhub@ons.gov.uk

##Format
workshop

##Organiser(s) and organisation
Rebecca Strickland, DQHub ONS 

##Time and date
Friday 1st October, 13:00 - 14:00

##Maximum capacity
2-3 people

##Link for joining or signing up
<br>61092d1bcc09f730525db77d</p><p><h3>11:00-11:45: GDAC: What on earth are you talking about?</h3><br>##Session title: What on earth are you talking about?
##Short description:  
An example of a simple business glossary in action where we show how a simple business glossary can be governed and maintained using accessible open source tools.

##Format


##Organiser(s) and organisation
 Ross Bowen
Janette Wrynn
Mark Matten


##Time and date
1st October 11:00 to 11:45

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db775,611b8e02c43b508336519ffd</p>