<p><h2>Friday</h2></p><p><h3>10:00-11:00 NHSX /NHS NOTTS / DHSC: Voices of the public: using text data</h3><br>##Session title:<br>
Voices of the public: using text data<br>
<br>
##Short description<br>
<br>
##Format<br>
An overview delivered by NHSX, and Show & Tell demonstrations by NHS Nottinghamshire and DHSC.<br>
<br>
##Organiser(s) and organisation<br>
Wauben, Martine, DHSC<br>
<br>
##Time and date<br>
Friday 1st October, 10:00 - 11:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db779</p><p><h3>13:00 - 14:00 DQHub ONS Data Quality Action Plans Workshop 3</h3><br>##Session title<br>
DQAP Workshop 3<br>
<br>
##Short description<br>
Do you want to make a Data Quality Action Plan? This workshop will provide focused support to help you take the first steps. Ideally you should have attended Monday's session introducing the Data Quality Action Plan approach to get the most from this session. <br>
Attendees will be limited to just three people so we can provide the best support. If you'd like this workshop run for your team, please email dqhub@ons.gov.uk<br>
<br>
##Format<br>
workshop<br>
<br>
##Organiser(s) and organisation<br>
Rebecca Strickland, DQHub ONS <br>
<br>
##Time and date<br>
Friday 1st October, 13:00 - 14:00<br>
<br>
##Maximum capacity<br>
2-3 people<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db77d</p><p><h3>11:00-11:45: GDAC: What on earth are you talking about?</h3><br>##Session title: What on earth are you talking about?<br>
##Short description:  <br>
An example of a simple business glossary in action where we show how a simple business glossary can be governed and maintained using accessible open source tools.<br>
<br>
##Format<br>
<br>
<br>
##Organiser(s) and organisation<br>
 Ross Bowen<br>
Janette Wrynn<br>
Mark Matten<br>
<br>
<br>
##Time and date<br>
1st October 11:00 to 11:45<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db775,611b8e02c43b508336519ffd</p>