13:00 - 14:00 DQHub ONS Data Quality Action Plans Workshop 3
##Session title
DQAP Workshop 3

##Short description
small attendance workshop for follow up to DQAP talk

##Format
workshop

##Organiser(s) and organisation
Rebecca Strickland, DQHub ONS 

##Time and date
Friday 1st October, 13:00 - 14:00

##Maximum capacity
2-3 people

##Link for joining or signing up

null
61092d1bcc09f730525db77d

10:00-11:00 NHSX /NHS NOTTS / DHSC: Voices of the public: using text data
##Session title:
Voices of the public: using text data

##Short description

##Format
An overview delivered by NHSX, and Show & Tell demonstrations by NHS Nottinghamshire and DHSC.

##Organiser(s) and organisation
Wauben, Martine, DHSC

##Time and date
Friday 1st October, 10:00 - 11:00

##Maximum capacity

##Link for joining or signing up

null
610c5aaf60187f5adf643da3,61092d1bcc09f730525db779

