<p><h2>Friday</h2></p><p><h3>10:00-11:00 NHSX / NHS NOTTS / DHSC: Voices of the public; using free text data</h3><br>Title: <b>Voices of the public; using free text data</b><br>
<br>
Description: In health, we collect a lot of free-text feedback from patients and citizens. In DHSC and the NHS, we have developed reusable methods for extracting actionable analysis out of this data. In this session, we will show off our open source tools and give an overview of work in this area.<br>
<br>
Format: Show and tell<br>
<br>
Who the session is aimed at: Analysts with some knowledge of R or Python, and data owners of large volumes of text<br>
<br>
The speakers:<br>
Dr. Dan Schofield: Senior Data Scientist in the Innovation Branch of the NHSX Analytics Unit.  Strong interest in Natural Language Processing, especially in situations related to the NHS, as well as advances in explainability of ‘black box’ models, and deployment of solutions such that they have the greatest impact.<br>
Martine Wauben: Lead Data Scientist at DHSC’s data science hub. We help analytical teams use data science practices and techniques on projects including COVID-19, medicines supply, and consultation analysis. I support data science capability and community building across health and social care, and advocate for open code and sharing across silos.<br>
Andreas Soteriades: An Applied Mathematician with Data Science experience in both academic and non-research areas, from dairy farm efficiency modelling to Text Mining (plus a few other in between!). I am currently crunching NHS patient feedback data with Scikit-learn (Python) and tidytext (R) and translating findings into an illuminating dashboard (Shiny/Golem) for managers and non-technical staff. I have been an R user for a long time now but have recently discovered the world of Python with much enthusiasm!<br>
Chris Beeley: Chris works in a team of data scientists in Nottinghamshire Healthcare NHS Trust. The team carries out nationally funded work providing open source analytical solutions within text mining, forecasting, and Shiny application development, as well as providing analytic support to the Trust and the ICS in regard of statistical analysis of routinely collected clinical outcomes. Chris’s expertise within the team is mainly in writing and deploying R/ Shiny applications on top of databases as well as statistical analysis and psychometrics. Chris is also the co-chair of the technical advisory group of the NHS-R Community.<br>
<br>
Time and date: Friday 1st October, 10:00 - 11:00<br>
<br>
<br>Categories:<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db779</p><p><h3>13:00 - 14:00 DQHub ONS Data Quality Action Plans Workshop 3</h3><br>##Session title<br>
DQAP Workshop 3<br>
<br>
##Short description<br>
Do you want to make a Data Quality Action Plan? This workshop will provide focused support to help you take the first steps. Ideally you should have attended Monday's session introducing the Data Quality Action Plan approach to get the most from this session. <br>
Attendees will be limited to just three people so we can provide the best support. If you'd like this workshop run for your team, please email dqhub@ons.gov.uk<br>
<br>
##Format<br>
workshop<br>
<br>
##Organiser(s) and organisation<br>
Rebecca Strickland, DQHub ONS <br>
<br>
##Time and date<br>
Friday 1st October, 13:00 - 14:00<br>
<br>
##Maximum capacity<br>
2-3 people<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db77d</p><p><h3>11:00-11:45: GDAC: What on earth are you talking about?</h3><br>##Session title: What on earth are you talking about?<br>
##Short description:  <br>
An example of a simple business glossary in action where we show how a simple business glossary can be governed and maintained using accessible open source tools.<br>
<br>
##Format<br>
<br>
<br>
##Organiser(s) and organisation<br>
 Ross Bowen<br>
Janette Wrynn<br>
Mark Matten<br>
<br>
<br>
##Time and date<br>
1st October 11:00 to 11:45<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>610c5aaf60187f5adf643da3,61092d1bcc09f730525db775,611b8e02c43b508336519ffd</p>