{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
		  <img src="/public/images/DataConnect21_logo.png" alt="DataConnect Week 2021" width="20%"  style="margin: 0 0 40px 5px;">

      <h2 class="govuk-heading-l">DataConnect23</h2>

      <h3 class="govuk-heading-m">Bring it together</h3>
      <h3 class="govuk-heading-m">25 - 29 September 2023</h3>

      <ul class="govuk-list">
        <li>
          <a href="#data-connect-is-coming">DataConnect23 is coming</a>
        </li>
        <li>
          <a href="#bring-it-together">Bring it together</a>
        </li>
        <li>
          <a href="#stay-in-touch">Stay in touch</a>
        </li>
        <li>
          <a href="#next-steps">Next steps</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m" id="data-connect-is-coming">DataConnect23 is coming</h3>

      <p class="govuk-body">
        DataConnect is a week-long ‘everything data’ series of presentations, webinars, show and tells, demonstrations, case studies, discussions and panels. The programme is open, user-generated and mostly delivered online. The Central Digital and Data Office at Cabinet Office and the Data Quality Hub at ONS coordinate DataConnect on behalf of participants.
      </p>
      <p class="govuk-body">
        Any and all data topics are welcome at DataConnect23. We want you to bring your data issues, projects and contexts, technical and non technical - from service delivery, to data science, to interoperability, to algorithms, to access, to linking, to APIs, to standards, to analytics, to ethics, to tooling, to management, to architecture, and beyond.
      </p>


      <h3 class="govuk-heading-m" id="bring-it-together">Bring it together</h3>

      <p class="govuk-body">
        To continue to deliver with data and realise our data ambitions, we need to #BringItTogether. ‘Together’ is when we work as multidisciplinary teams, or bridge different systems, maximise interoperability, enable service delivery across organisations or when sharing our data, our skills and our insights. DataConnect is a special opportunity to make those connections between people and programmes; because our work is strengthened and our goals easier to reach when we enable different data initiatives, skills, services, technologies and, most importantly, people, to come together.
      </p>

      <h3 class="govuk-heading-m" id="stay-in-touch">Stay in touch</h3>

      <p class="govuk-body">
        <a href="https://mailchi.mp/8592faaf40a1/dataconnect">
          <strong>Join the DataConnect mail list</strong>
        </a>
      </p>

      <h3 class="govuk-heading-m" id="next-steps">Next Steps</h3>

      <p class="govuk-body">
        <a href="/speakerpack">
          Find out more about running a session and/or speaking at DataConnect23
        </a>
        <a href="/register_your_session">
          Get your session onto the DataConnect23 schedule
        </a>
      </p>
    </div>

    <div class="govuk-grid-column-one-third">

      {% include "includes/sidebar.html" %}

    </div>
  </div>
{% endblock %}
