{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect</a>
      </li>
      <!--<li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>-->
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
		<img src="/public/images/DataConnect21_logo.png" alt="DataConnect Week 2021" width="20%"  style="margin: 0 0 40px 5px;">

        <h2 class="govuk-heading-l">DataConnect23</h2>

        <h3 class="govuk-heading-m">Bring it together</h3>
        <h3 class="govuk-heading-m">25 - 29 September 2023</h3>

        <a href="#data-connect-is-coming">DataConnect23 is coming</a><br>
        <a href="#bring-it-together">Bring it together</a><br>
        <a href="#by-and-for-you">DataConnect is by and for you</a><br>
        <a href="#get-involved">Get involved:</a>
        <ul>
            <li><a href="#launching-dataconnect23">Launching DataConnect23 - 23 May</a></li>
            <li><a href="#early-bird">Be a DataConnect23 early bird</a></li>
        </ul>

        <br>
        <br>

        <h3 class="govuk-heading-m" id="data-connect-is-coming">DataConnect23 is coming</h3>
  		<p>DataConnect is a week-long ‘everything data’ series of presentations, webinars, show and tells, demonstrations, case studies, discussions and panels. The programme is open, user-generated and mostly delivered online. The Central Digital and Data Office at Cabinet Office and the Data Quality Hub at ONS coordinate DataConnect on behalf of participants.</p>

	    <p>Any and all data topics are welcome at DataConnect23. We want you to bring your data issues, projects and contexts, technical and non technical - from service delivery, to data science, to interoperability, to algorithms, to access, to linking, to APIs, to standards, to analytics, to ethics, to tooling, to management, to architecture, and beyond.</p>

        <h3 class="govuk-heading-m" id="bring-it-together">Bring it together</h3>

        <p>DataConnect is about achieving a better view of the breadth and depth of data work happening across the public sector and establishing stronger connections between people and programmes. Our strapline for 2023 - Bring it together - reflects the DataConnect aim to bring together various combinations of people, skills, datasets, ideas, systems, services, learnings, standards, organisations and users to achieve our shared and individual data goals.</p>

        <h3 class="govuk-heading-m" id="by-and-for-you">DataConnect is by and for you</h3>

        <p>DataConnect is delivered by the UK public sector for the UK public sector. We welcome presenters and attendees who are at the start of their career to experienced leaders, from central government, devolved administrations, arm’s length bodies, local government, health, policing and security and other public bodies and services. You might have a defined DDaT or KIM role, or be coming from policy, operational delivery, legal, finance, HR, communications, commercial, counter fraud, or project management perspectives.</p>

        <p>Previous DataConnect weeks have featured sessions from the Welsh Government, Ordnance Survey, Office for National Statistics, DWP Digital, Barnsley Metropolitan Borough Council, Sport England, GDS, Scottish Government, Department for Education, Local Government Association, Gambling Commission, National Highways, Maritime and Coastguard Agency, Home Office, and many more.</p>

        <h3 class="govuk-heading-m" id="get-involved">Get involved:</h3>

        <h3 class="govuk-heading-m" id="launching-dataconnect23">1. Launching DataConnect23 - 23 May</h3>

        <p>We are launching DataConnect23 with a hybrid event on 23 May. Join us online or in person (London - Westminster) for a taster of DataConnect, to spark your imagination for what you might present at DC23 and/or start thinking about the kinds of sessions you’d like to attend.</p>
        <p><a href="https://www.eventbrite.co.uk/e/dataconnect23-launch-event-tickets-546319846367">Register to attend the DataConnect23 launch event online or in-person.</a></p>

        <h3 class="govuk-heading-m" id="early-bird">2. Be a DataConnect23 early bird</h3>

        <p>Whether you’d like to present or attend DataConnect23, please register your interest - you’ll be first to know </p>
        <ul>
            <li><p>when we open for session pledges from presenters</p></li>
            <li><p>how to access information and online sessions to support delivery of your session</p></li>
            <li><p>about exciting programme developments</p></li>
            <li><p>when sessions start registering attendees</p></li>
        </ul>

        <a href="https://mailchi.mp/8592faaf40a1/dataconnect" role="button" draggable="false"
           class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
           data-module="govuk-button">
            Get involved and sign up
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                 viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>


{#    TODO: Uncomment in Apirl#}
{#      <a href="https://dataconnect.api.gov.uk/dc22/schedule" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">#}
{#        Book sessions now#}
{#        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">#}
{#          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>#}
{#        </svg>#}
{#      </a>#}

  
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
              <li>
              <a href="/speakerpack">
               Take part in DataConnect23
              </a>
            </li>
              <li>
              <a href="https://dataconnect.api.gov.uk/dc22/schedule">
               2022 schedule sessions
              </a>
            </li>
                            <li>
              <a href="https://dataconnect.api.gov.uk/dc21/schedule">
               2021 schedule sessions
              </a>
            </li>
              <li>
              <a href="https://www.gov.uk/government/organisations/government-data-quality-hub/">
               Data Quality Hub
              </a>
            </li>
            <li>
              <a href="https://dataingovernment.blog.gov.uk/">
               Data in Government Blog
              </a>
            </li>
            <li>
              <a href="/code_of_conduct">
                Code of Conduct
              </a>
            </li>
            <!-- </li><li>
              <a href="https://trello.com/b/FUCqZYiK/dataconnect-2021" target="new">
                See the event agenda
              </a>
            </li> 
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
