{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect</a>
      </li>
      <!--<li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>-->
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
		<img src="/public/images/DataConnect21_logo.png" alt="DataConnect Week 2021" width="20%"  style="margin: 0 0 40px 5px;">
   		
  		<p>DataConnect is a week-long event organised by the Central Digital and Data Office and the Government Data Quality Hub, this year the event will run from 25 - 29 September 2023. This event is being run by the public sector for the public sector, and we're developing a schedule in collaboration with Local Government, public sector and central government data professionals just like you.</p>

	  <p>Join us for a variety of virtual and in person sessions on everything from data governance to data architecture and data ethics. Last year's event featured sessions by the Office for National Statistics, DWP Digital, DfE Digital, Environment Agency, Defra, BEIS, as well as the Information Commissioners’ Office, Centre for Data Ethics and Innovation, National Centre for Data Innovation, Open Data Institute and many more.</p>

       <p>Come and join us on Wednesday 24 May 2023 to find out more about how you can get involved and what to expect from the week long conference.</p>
	    <p>You can sign up on <a href="https://www.eventbrite.co.uk/e/dataconnect23-launch-event-tickets-546319846367">the Eventbrite page. </a></p>
	    
	     <a href="https://mailchi.mp/8592faaf40a1/dataconnect" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign up
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

	    
	    <p>Find out more in our launch article on the Government Data Quality Hub blog or get in touch with us at dataconnect@digital.cabinet-office.gov.uk.</p>
      
  <!-- <a href="/signup" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
  <!--       Sign up as a speaker here
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a> -->


{#    TODO: Uncomment in Apirl#}
{#      <a href="https://dataconnect.api.gov.uk/dc22/schedule" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">#}
{#        Book sessions now#}
{#        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">#}
{#          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>#}
{#        </svg>#}
{#      </a>#}

  
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
              <a href="/speakerpack">
               Take part in DataConnect23
              </a>
            </li>
              <li>
              <a href="https://dataconnect.api.gov.uk/dc22/schedule">
               2022 schedule sessions
              </a>
            </li>
                            <li>
              <a href="https://dataconnect.api.gov.uk/dc21/schedule">
               2021 schedule sessions
              </a>
            </li>
              <li>
              <a href="https://www.gov.uk/government/organisations/government-data-quality-hub/">
               Data Quality Hub
              </a>
            </li>
            <li>
              <a href="https://dataingovernment.blog.gov.uk/">
               Data in Government Blog
              </a>
            </li>
            <!-- </li><li>
              <a href="https://trello.com/b/FUCqZYiK/dataconnect-2021" target="new">
                See the event agenda
              </a>
            </li> 
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>-->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
