{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}












<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
      <div class="govuk-footer__navigation">
        
          <div class="govuk-footer__section">
            <h2 class="govuk-footer__heading govuk-heading-m">About Digital Marketplace</h2>
            
              
              <ul class="govuk-footer__list ">
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/help">
                        Contact
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/digital-marketplace-buyers-guide">
                        Services you can buy
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/digital-marketplace-suppliers-guide">
                        Services you can sell
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/crown-commercial-service">
                        About Crown Commercial Services
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/government-digital-service">
                        About Government Digital Services
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/g-cloud/suppliers">
                        G-Cloud supplier A to Z
                      </a>
                    </li>
                  
                
              </ul>
            
          </div>
        
          <div class="govuk-footer__section">
            <h2 class="govuk-footer__heading govuk-heading-m">Guidance for using Digital Marketplace</h2>
            
              
              <ul class="govuk-footer__list ">
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">
                        Applying to sell on the G-Cloud framework
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/how-to-apply-to-sell-on-the-digital-outcomes-framework">
                        Applying to sell on the DOS framework
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/how-to-sell-your-digital-outcomes-and-specialists-services">
                        Responding to buyer requirements on the DOS framework
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/g-cloud-buyers-guide">
                        Buying on the G-Cloud framework
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">
                        Buying on the DOS framework
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://www.gov.uk/guidance/the-crown-hosting-data-centres-framework-on-the-digital-marketplace">
                        Buying on the Crown Hosting framework
                      </a>
                    </li>
                  
                
              </ul>
            
          </div>
        
      </div>
      <hr class="govuk-footer__section-break">

















    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://www.gov.uk/help",
            text: "Help"
          },
          {
            href: "https://www.gov.uk/help/privacy-notice",
            text: "Privacy"
          },
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
