<p><h2>Monday</h2></p><br>
<p><h3>10:00 - 11:00 DQHub ONS: Data Quality Action Plans</h3><br>
##Session title<br>
Data Quality Action Plans<br>
<br>
##Short description<br>
We need to know whether our data is fit for purpose. But it isn't always easy to know what make data fit for purpose, or to know how to fix quality problems when you find them. <br>
Data Quality Action Plans can help! Come and hear more about what they are and how they can help you better understand and improve your data.<br>
This session is aimed at anyone interested in understanding quality as part of data management. We will be running small workshops later in the week for people who would like to talk through the steps in creating their own Data Quality Action Plans.<br>
<br>
Format: talk/presentation <br>
<br>
Presented by: Rebecca Strickland, DQHub ONS<br>
<br>
Time: 10:00 - 11:00 Monday 27th September<br>
<br>
<br>
61092d1bcc09f730525db77d</p><br>
<p><h3>10:30 - 11:00 - CDDO - API Documentation</h3><br>
##Session title<br>
API Documentation in the UK government<br>
<br>
##Short description<br>
<br>
##Format<br>
Presentation<br>
<br>
##Organiser(s) and organisation<br>
Mark Green, CDDO<br>
<br>
##Time and date<br>
10:30 - 11:00, Monday 27th September<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>
61092d1bcc09f730525db773</p><br>
<p><h3>11.30am - 12:30pm Alison Pritchard, Deputy National Statistician, ONS</h3><br>
##Session title<br>
Alison Pritchard, Deputy National Statistician, ONS<br>
<br>
##Short description<br>
[2 - 3 sentences describing the session, including the kinds of people who will be at the session]<br>
<br>
##Format<br>
[eg case study, show and tell, discussion, workshop, working bee, presentation]<br>
<br>
##Organiser(s) and organisation<br>
Office of National Statistics<br>
<br>
##Time and date<br>
11.30am - 12:30pm, Monday 27th September<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>
611ae1c010a8ff32cb5e1029,610c5aaf60187f5adf643da3,61092d1bcc09f730525db775,611b8e02c43b508336519ffd</p><br>
<p><h3>11:00-12:00 NHSX: How we are working within the NHS to develop Artificial intelligence proof of concepts and the data we have been experimenting with</h3><br>
<br>
610bfeb1f597af7a27439cc1,61092d1bcc09f730525db779</p><br>
<p><h3>15:00 - 16:00 ENVIRONMENT AGENCY: Near Real Time use of Publicly available Environment Agency data</h3><br>
Near Real Time use of Publicly available Environment Agency data<br>
<br>
The Environment Agency is classed as a First responder and as such it is vital that the data they get is as near real time as is possible, especially when citizens’ lives and livelihoods depend on it. <br>
With the climate emergency looming, sea-levels are rising, the weather is becoming more extreme and erratic, so a real-world example would be the ever-increasing threat of flooding.<br>
In the UK Met Office records show that 9 of the 17 record-breaking rainfall months or seasons since 1910 have occurred within the last 20 years.  Chris Hansford will talk us through how the use of publicly available data can be used to help alert, warn and protect us from these catastrophic weather events.<br>
<br>
##Format<br>
Show and Tell<br>
<br>
##Organiser(s) and organisation<br>
Chris Hansford, Principal BI Development Manager, Environment Agency<br>
<br>
##Time and date<br>
Monday 27 September, 15:00 to 16:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>
610bfeb1f597af7a27439cc1,61092d1bcc09f730525db773</p><br>
<p><h3>15:00 - 16:00 ONS: Overcoming data challenges in evaluation: Your story</h3><br>
##Session title<br>
Overcoming data challenges in evaluation: Your story<br>
<br>
##Short description<br>
An interactive workshop to discuss, learn and meet others using data for evaluation in government. on challenges, tips and solutions on collecting, linking, and using data for evaluation in government.<br>
We will uncover challenges, tips and solutions on collecting, linking, and using data (including admin data) for evaluation.<br>
<br>
<br>
##Format<br>
Workshop - government emoloyees only <br>
<br>
##Organiser(s) and organisation<br>
Lucia Barbone, Sofi Nickson ONS<br>
<br>
##Time and date<br>
15:00 - 16:00 Monday 27 September<br>
<br>
##Maximum capacity<br>
minimum 8<br>
<br>
##Link for joining or signing up<br>
<br>
61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10,611385bf03f48f5750ee5328</p><br>
<p><h3>14:00-14:45 ONS: Data Sharing Opportunities and Challenges</h3><br>
##Session title: Data Sharing Opportunities and Challenges<br>
<br>
##Short description<br>
Overview session to introduce:<br>
-ONS and role of Data Acquisition  <br>
-Importance of admin data  <br>
-Importance of data sharing  <br>
-Data sharing types and processes <br>
-Subsequent workshop sessions  <br>
<br>
##Format<br>
Presentation<br>
<br>
##Organiser(s) and organisation<br>
Geum young Min, Data Acquisition and Operations at ONS <br>
<br>
##Time and date<br>
14:00 - 14:45 27/09/2021<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
611385bf03f48f5750ee5328,611b8e02c43b508336519ffd</p><br>
