{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect23
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect23</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        DataConnect23
      </h1>

      <h3 class="govuk-heading-m" id="data-connect-is-coming">Monday 25 September 2023</h3>

      <p class="govuk-body">
        DataConnect23 is a week-long series of presentations, webinars, show and tells, demonstrations, case studies, discussions and panels. The programme is open to all and is delivered by the community, for the community.
      </p>
      <p class="govuk-body">
        The Central Digital and Data Office in Cabinet Office and the Data Quality Hub in ONS coordinate DataConnect23 on behalf of participants.
      </p>


      <h3 class="govuk-heading-m" id="bring-it-together">Bring it together</h3>

      <p class="govuk-body">
        Any and all data topics are welcome at DataConnect23. We want you to bring your data issues, projects and contexts, technical and non technical - from service delivery, to data science, to interoperability, to algorithms, to access, to linking, to APIs, to standards, to analytics, to ethics, to tooling, to management, to architecture, and beyond.
      </p>
<p class="govuk-body">
         If you work in data in the UK public sector and would like to host and run a session in September, then we welcome you to take part. We are accepting session ideas until Friday 14th July.
      </p>
	<a href="https://surveys.domains.gov.uk/s/DC23_BasicSessionDetails_form/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Propose a session now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

<h3 class="govuk-heading-s">10am to 11am</h3>	    
<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Integrating environmental, socioeconomic and health data to address policy challenges</a></strong></p>	        
<p>Leveraging data science could be the most effective way for policymakers to make evidence-based decisions. Given changes in policy are 
often associated with interconnected systems such as urban systems, climate change, healthcare provision and social infrastructure, we need a way to 
enable policymakers to connect data across these sectors.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--visible">	    
<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data Science finds a way: Enabling transformation and promoting collaboration</a></strong></p>	        
<h3 class="govuk-heading-s">Monday 25 September, 11am to 12pm</h3>
<p>Welsh Government data scientists and analysts have been working to promote consistent, accessible and open-source solutions for statistics, data science and data engineering problems. This session will cover the steps we have taken to promote business transformations including building a culture of reproducible problem solving, providing an internal data science platform and suite of tools as well as sharing knowledge and ideas internally and externally.</p>
<hr>	    
	    

<h3 class="govuk-heading-m" id="bring-it-together">A page - full list of sessions Monday 25 September</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Integrating environmental, socioeconomic and health data to address policy challenges</a></p>

<p class="govuk-body"><a href="#" class="govuk-link">An introduction to the Data Standards Authority</a></p>	    

<h3 class="govuk-heading-s"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Integrating environmental, socioeconomic and health data to address policy challenges</a></h3>	        
<p> on 25 September 2023</p>

<p class="govuk-body">11am to 12pm <a href="#" class="govuk-link">Rescuing orphan analogue environmental data</a></p>	    



<h3 class="govuk-heading-m" id="bring-it-together">Sessions by day</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Monday 25 September</a></p>    
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Tuesday 26 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Wednesday 27 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Thursday 28 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Friday 29 September</a></p>




<p><strong>Networking</strong></p>
<p><strong>Breakout sessions</strong></p>
<p>Each delegate will be able to attend two sessions of their choice:</p>
	    
  </div>
{% endblock %}
