<p><h3>10:00 - 11:00 DQHUB ONS: Data Quality Action Plans</h3><br>##Session title<br>Data Quality Action Plans

##Short description

##Format
talk/presentation 

##Organiser(s) and organisation
Rebecca Strickland, DQHub ONS

##Time and date
10:00 - 11:00 Monday 27th September

##Maximum capacity

##Link for joining or signing up
<br>2021-09-27T09:00:00.000Z<br>61092d1bcc09f730525db77d</p><p><h3>10:30 - 11:00 - CDDO - API Documentation</h3><br>##Session title<br>API Documentation in the UK government

##Short description

##Format
Presentation

##Organiser(s) and organisation
Mark Green, CDDO

##Time and date
10:30 - 11:00, Monday 27th September

##Maximum capacity

##Link for joining or signing up
<br>2021-09-27T09:30:00.000Z<br>61092d1bcc09f730525db773</p><p><h3>11:00-12:00 NHSX: How we are working within the NHS to develop Artificial intelligence proof of concepts and the data we have been experimenting with</h3><br><br>2021-09-27T10:00:00.000Z<br>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db779</p><p><h3>15:00 - 16:00 ENVIRONMENT AGENCY: Near Real Time use of Publicly available Environment Agency data</h3><br>Near Real Time use of Publicly available Environment Agency data<br>
The Environment Agency is classed as a First responder and as such it is vital that the data they get is as near real time as is possible, especially when citizens’ lives and livelihoods depend on it. 
With the climate emergency looming, sea-levels are rising, the weather is becoming more extreme and erratic, so a real-world example would be the ever-increasing threat of flooding.
In the UK Met Office records show that 9 of the 17 record-breaking rainfall months or seasons since 1910 have occurred within the last 20 years.  Chris Hansford will talk us through how the use of publicly available data can be used to help alert, warn and protect us from these catastrophic weather events.

##Format
Show and Tell

##Organiser(s) and organisation
Chris Hansford, Principal BI Development Manager, Environment Agency

##Time and date
Monday 27 September, 15:00 to 16:00

##Maximum capacity

##Link for joining or signing up
<br>2021-09-27T14:00:00.000Z<br>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db773</p><p><h3>15:00 - 16:00 OFFICE FOR NATIONAL STATISTICS: Overcoming data challenges in evaluation: Your story</h3><br>##Session title<br>Overcoming data challenges in evaluation: Your story

##Short description
An interactive workshop to discuss, learn and meet others using data for evaluation in government. on challenges, tips and solutions on collecting, linking, and using data for evaluation in government.
We will uncover challenges, tips and solutions on collecting, linking, and using data (including admin data) for evaluation.


##Format
Workshop - government emoloyees only 

##Organiser(s) and organisation
Lucia Barbone, Sofi Nickson ONS

##Time and date
15:00 - 16:00 Monday 27 September

##Maximum capacity
minimum 8

##Link for joining or signing up
<br>2021-09-27T14:00:00.000Z<br>61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10,611385bf03f48f5750ee5328</p>