<p><h2>Monday</h2></p><h2><div id="Monday-10-00am-to-11-00am-Data-Quality-Action-Plans-Government-Data-Quality-Hub-">10:00am to 11:00am Data Quality Action Plans (Government Data Quality Hub)</div></h2><h2>Data Quality Action Plans</h2><br>
<p>We need to know whether our data is fit for purpose. But it isn't always easy to know what make data fit for purpose, or to know how to fix quality problems when you find them. </p>
<p>Data Quality Action Plans can help! Come and hear more about what they are and how they can help you better understand and improve your data.</p>
<p>This session is aimed at anyone interested in understanding quality as part of data management. We will be running small workshops later in the week for people who would like to talk through the steps in creating their own Data Quality Action Plans.</p>
<br>
Format: Talk/presentation <br>
Speaker: Rebecca Strickland, DQHub ONS<br>
Date and time: Monday 27th September, 10:00am to 11:00am<br>
Link for joining or signing up<br>
[  <a href="https://www.eventbrite.co.uk/e/data-quality-action-plans-tickets-169980563441]">https://www.eventbrite.co.uk/e/data-quality-action-plans-tickets-169980563441]</a><br>
<br><br>Categories:</b>61092d1bcc09f730525db77d</p><h2><div id="Monday-10-30am-to-11-00am-Benefits-of-good-API-documentation-Central-Digital-and-Data-Office-">10:30am to 11:00am Benefits of good API documentation (Central Digital and Data Office)</div></h2><h2>Benefits of good API documentation in government  </h2><br>
<p>Mark Green is the lead tech writer for API (application programming interface) documentation at the CDDO. </p>
<p>In this knowledge-building session, he'll be showing what good documentation looks like, and how it benefits your users.</p>
<p>This session would be useful for anyone in the public sector building or managing services or products which include an API to provide access to data. </p>
<p>Format: Presentation </p>
<p>Speaker: Mark Green, Lead Technical Writer, Central Digital and Data Office. </p>
<p>Contact: TBC </p>
<p>Date and time: Monday 27th September, 10:30am to 100:00am </p>
<p>Length of session: 30 minutes </p>
<p>Registration and joining information: <a href="https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299889843 ">https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299889843 </a></p>
<br><br>Categories:</b>61092d1bcc09f730525db773,610c5aaf60187f5adf643da3</p><h2><div id="Monday-11-00am-to-12-00pm-NHSX-AI-Skunkworks-Data-showcase">11:00am to 12:00pm NHSX AI Skunkworks: Data showcase</div></h2><h2>NHSX AI Skunkworks: Data showcase</h2><br>
<p>This talk will be a showcase of interesting projects we’ve been working on in the NHSX AI Skunkworks team including how we have been using Artificial Intelligence to identify patients at risk of long term hospital stay. </p>
<p>We’ll cover everything from how we’ve been working with trusts, experimenting with AI and how we manage data compliance. </p>
<p>This session would be useful for anyone looking to use AI within their organisations. </p>
<p>Format: Lightning talks - Different people from the team will be presenting 10 minutes each. </p>
<p>Speakers:</p>
<p><ul><br>
<li> Giuseppe Sollazzo, Deputy Director, Head of AI Skunkworks and Deployment, NHS AI Lab, NHSX. </li>
<li> Amadeus Stevenson, Data/Technology Lead, AI Skunkworks and Deployment, NHS AI Lab, NHSX. </li>
<li> Jennifer Hall, Senior Data Scientist, AI Skunkworks and Deployment, NHS AI Lab, NHSX. </li>
<li> Oludare Akinlolu, Data/Technology Lead, AI Skunkworks and Deployment, NHS AI Lab, NHSX. </li>
<li> Matthew Cooper,  Senior Data Scientist, AI Skunkworks and Deployment, NHS AI Lab, NHSX. </li>
</ul></p>
<p>Contact: TBC</p>
<p>Date and start time: 27 September 2021 at 11:00</p>
<p>Length of session:  60 minutes </p>
<p>Registration and joining information: <a href="https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299890985 ">https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299890985 </a></p>
<br><br>Categories:</b>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db779</p><h2><div id="Monday-11-30am-to-12-30pm-Alison-Pritchard-Deputy-National-Statistician-ONS">11.30am to 12:30pm Alison Pritchard, Deputy National Statistician, ONS</div></h2><h2>Alison Pritchard, Deputy National Statistician, Office for National Statistics</h2><br>
<p>(Description: TBC)</p>
<p>Format: Keynote </p>
<p>Speakers: Alison Pritchard, Office for National Statistics </p>
<p>Contact: TBC</p>
<p>Date and start time: Monday 27 September at 11:30  </p>
<p>Length of session: 60 minutes </p>
<p>Registration and joining information: TBC </p>
<br><br>Categories:</b>611ae1c010a8ff32cb5e1029,610c5aaf60187f5adf643da3,611b8e02c43b508336519ffd,61315622f23253020eef2e78</p><h2><div id="Monday-1-00-to-2-00pm-Data-Standards-What-are-they-and-why-Data-Standards-Authority-">1:00 to 2:00pm - Data Standards. What are they, and why? (Data Standards Authority)</div></h2><p>Title: Data Standards - the how and the why</p>
<p>Description: The DSA tell you the purpose and the process of getting, endorsing, and using a data standard.</p>
<p>Presenters: Terence Eden, Peter Gothard (DSA)</p>
<p>Link to sign up:<br>
<a href="https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299849271">https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299849271</a></p><br><br>Categories:</b>61127d38eea26c600b2ebe5b,61092d1bcc09f730525db77f</p><h2><div id="Monday-1-00pm-to-2-00pm-Reference-Data-Management-Framework-Office-for-National-Statistics-">1:00pm to 2:00pm Reference Data Management Framework (Office for National Statistics)</div></h2><h2>Reference Data Management Framework</h2><br>
<p>This session will cover the  development of the Office for National Statistics Reference Data Management Framework. It will be a case study presentation. This session will take place on Teams. This session is open to all.</p>
<p>Format: Presentation</p>
<p>Speakers: Laura Young, ONS</p>
<p>Contact: </p>
<p>Date and time: Monday 27th September, 1:00pm to 2:00pm</p>
<p>Length of session: 60 minutes</p>
<p> Registration and joining information: TBC </p>
<br><br>Categories:</b>610c06130639ee4260165deb,610bfb8edf35781d3d9c7b10,610c068f6d207468724b4fd0</p><h2><div id="Monday-2-00pm-to-2-45pm-Data-sharing-opportunities-and-challenges-Office-for-National-Statistics-">2:00pm to 2:45pm Data sharing opportunities and challenges (Office for National Statistics)</div></h2><h2>Data Sharing Opportunities and Challenges </h2><br>
<p> This overview session will introduce: </p>
<ul><br>
<li>ONS and role of Data Acquisition </li>
<li>Importance of admin data </li>
<li>Importance of data sharing </li>
<li>Data sharing types and processes</li>
<li>Subsequent workshop sessions </li>
</ul> </p> <br>
<p>Format: Presentation </p>
<p>Speakers: Geum young Min, Data Acquisition and Operations, Office for National Statistics  </p>
<p>Contact: TBC</p>
<p>Date and start time: Monday 27th September, 2:00pm to 2:45pm </p>
<p>Length of session:45 minutes </p>
<p>Registration and joining information: TBC </p>
<br><br>Categories:</b>611385bf03f48f5750ee5328,611b8e02c43b508336519ffd</p><h2><div id="Monday-3-00pm-to-4-00pm-Near-real-time-use-of-publicly-available-Environment-Agency-data-Environment-Agency-">3:00pm to 4:00pm Near real time use of publicly available Environment Agency data (Environment Agency)</div></h2><h2>Near real time use of publicly available Environment Agency data</h2><br>
<p>The Environment Agency is classed as a First responder and as such it is vital that the data they get is as near real time as is possible, especially when citizens’ lives and livelihoods depend on it. </p>
<p>With the climate emergency looming, sea-levels are rising, the weather is becoming more extreme and erratic, so a real-world example would be the ever-increasing threat of flooding.</p>
<p>In the UK Met Office records show that 9 of the 17 record-breaking rainfall months or seasons since 1910 have occurred within the last 20 years. </p>
<p>Chris Hansford will talk us through how the use of publicly available data can be used to help alert, warn and protect us from these catastrophic weather events. </p>
<p>Format: Show and Tell </p>
<p>Speakers: Chris Hansford, Principal BI Development Manager, Environment Agency</p>
<p>Contact:</b> TBC </p>
<p>Date and time: Monday 27th September, 3:00pm to 4:00pm </p>
<p>Length of session: 60 minutes </p>
<p>Registration and joining information: <a href="https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299891397 ">https://www.eventbrite.co.uk/manage/events/168452645397/tickets/299891397 </a></p>
<br><br>Categories:</b>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db773</p><h2><div id="Monday-3-00pm-to-4-00pm-Overcoming-data-challenges-in-evaluation-Your-story-Office-for-National-Statistics-">3:00pm to 4:00pm Overcoming data challenges in evaluation: Your story (Office for National Statistics)</div></h2><h2>Overcoming data challenges in evaluation: Your story</h2><br>
<p>An interactive workshop to discuss, learn and meet others using data for evaluation in government. </p>
<p> We'll discuss challenges, tips and solutions on collecting, linking, and using data for evaluation in government. </p>
<p>We will uncover challenges, tips and solutions on collecting, linking, and using data (including admin data) for evaluation. </p>
<p> This workshop is for government employees only and will need a minimum of 8 participants to run.</p>
<p>Format: Workshop</p>
<p>Speakers: Lucia Barbone and Sofi Nickson, Office for National Statistics</p>
<p>Contact:</p>
<p>Date and time: Monday 27th September, 3:00pm to 4:00pm </p>
<p>Length of session:</p>
<p>Registration and joining information: TBC </p>
<br><br>Categories:</b>61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10,611385bf03f48f5750ee5328</p>