<p><h2>Monday</h2></p><p><h3><a id="Monday-10-00-11-00-DQHub-ONS-Data-Quality-Action-Plans">10:00-11:00 DQHub ONS: Data Quality Action Plans</a></h3><br>Title: Data Quality Action Plans<br>
<br>
Description: We need to know whether our data is fit for purpose. But it isn't always easy to know what make data fit for purpose, or to know how to fix quality problems when you find them. <br>
Data Quality Action Plans can help! Come and hear more about what they are and how they can help you better understand and improve your data.<br>
This session is aimed at anyone interested in understanding quality as part of data management. We will be running small workshops later in the week for people who would like to talk through the steps in creating their own Data Quality Action Plans.<br>
<br>
Format: talk/presentation <br>
<br>
Presented by: Rebecca Strickland, DQHub ONS<br>
<br>
Time: 10:00 - 11:00 Monday 27th September<br>
<br>
<br>
<br>
<br><br><b>Categories:</b><br>61092d1bcc09f730525db77d</p><p><h3><a id="Monday-10-30-11-00-CDDO-API-Documentation">10:30-11:00 - CDDO - API Documentation</a></h3><br>Title: <b>API Documentation in the UK government</b><br>
<br>
Description: Mark Green is the lead tech writer for API documentation at the CDDO. He'll be showing what good documentation looks like, and how it benefits your users.<br>
<br>
Format: Presentation<br>
<br>
Organiser(s) and organisation: Mark Green, CDDO<br>
<br>
Time and date: 10:30 - 11:00, Monday 27th September<br><br><b>Categories:</b><br>61092d1bcc09f730525db773</p><p><h3><a id="Monday-11-00-12-00-NHSX-How-we-are-working-within-the-NHS-to-develop-Artificial-intelligence-proof-of-concepts-and-the-data-we-have-been-experimenting-with">11:00-12:00 NHSX: How we are working within the NHS to develop Artificial intelligence proof of concepts and the data we have been experimenting with</a></h3><br><b>Confirmed title of the event</b>:How we are working within the NHS to develop Artificial intelligence proof of concepts and the data we have been experimenting with<br>
<br>
<b>Description:</b> This talk will be a showcase of interesting projects we’ve been working on in the NHSX AI Skunkworks team including how we have been using AI to identify patients at risk of long term hospital stay. We’ll cover everything from how we’ve been working with trusts, experimenting with AI and how we manage data compliance. <br>
<br>
<b>Format of session:</b> Lightning talks - Different people from the team will be presenting 10 minutes each<br>
<br>
<b>An idea of who the session is aimed at, and who it would be useful for</b><br>
Would be of interest to a range of audience members looking to use AI within their organisations<br>
<br>
<b>A short bio about you and what your role is</b><br>
Giuseppe Sollazzo, Deputy Director, Head of AI Skunkworks and Deployment, NHS AI Lab, NHSX<br>
<br>
Amadeus Stevenson, Data/Technology Lead, AI Skunkworks and Deployment, NHS AI Lab, NHSX<br>
 <br>
Jennifer Hall, Senior Data Scientist, AI Skunkworks and Deployment, NHS AI Lab, NHSX<br>
<br>
Oludare Akinlolu, Data/Technology Lead, AI Skunkworks and Deployment, NHS AI Lab, NHSX<br>
<br>
Matthew Cooper,  Senior Data Scientist, AI Skunkworks and Deployment, NHS AI Lab, NHSX<br>
 <br>
<br>
 <br>
<br>
 <br>
<br>
 <br><br><b>Categories:</b><br>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db779</p><p><h3><a id="Monday-11-30-12-30-Alison-Pritchard-Deputy-National-Statistician-ONS">11.30-12:30 Alison Pritchard, Deputy National Statistician, ONS</a></h3><br><b>Session title</b><br>
Alison Pritchard, Deputy National Statistician, ONS<br>
<br>
Description:<br>
<br>
Format: Keynote<br>
<br>
Organiser(s) and organisation: Office of National Statistics<br>
<br>
Time and date: 11.30am - 12:30pm, Monday 27th September<br><br><b>Categories:</b><br>611ae1c010a8ff32cb5e1029,610c5aaf60187f5adf643da3,611b8e02c43b508336519ffd,61315622f23253020eef2e78</p><p><h3><a id="Monday-14-00-14-45-ONS-Data-Sharing-Opportunities-and-Challenges">14:00-14:45 ONS: Data Sharing Opportunities and Challenges</a></h3><br><b>Session title: Data Sharing Opportunities and Challenges</b><br>
<br>
<b>Short description</b><br>
Overview session to introduce:<br>
-ONS and role of Data Acquisition  <br>
-Importance of admin data  <br>
-Importance of data sharing  <br>
-Data sharing types and processes <br>
-Subsequent workshop sessions  <br>
<br>
<b>Format</b><br>
Presentation<br>
<br>
<b>Organiser(s) and organisation</b><br>
Geum young Min, Data Acquisition and Operations at ONS <br>
<br>
<b>Time and date</b><br>
14:00 - 14:45 27/09/2021<br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br><br><b>Categories:</b><br>611385bf03f48f5750ee5328,611b8e02c43b508336519ffd</p><p><h3><a id="Monday-15-00-16-00-ENVIRONMENT-AGENCY-Near-Real-Time-use-of-Publicly-available-Environment-Agency-data">15:00 - 16:00 ENVIRONMENT AGENCY: Near Real Time use of Publicly available Environment Agency data</a></h3><br>Near Real Time use of Publicly available Environment Agency data<br>
<br>
The Environment Agency is classed as a First responder and as such it is vital that the data they get is as near real time as is possible, especially when citizens’ lives and livelihoods depend on it. <br>
With the climate emergency looming, sea-levels are rising, the weather is becoming more extreme and erratic, so a real-world example would be the ever-increasing threat of flooding.<br>
In the UK Met Office records show that 9 of the 17 record-breaking rainfall months or seasons since 1910 have occurred within the last 20 years.  Chris Hansford will talk us through how the use of publicly available data can be used to help alert, warn and protect us from these catastrophic weather events.<br>
<br>
<b>Format</b><br>
Show and Tell<br>
<br>
<b>Organiser(s) and organisation</b><br>
Chris Hansford, Principal BI Development Manager, Environment Agency<br>
<br>
<b>Time and date</b><br>
Monday 27 September, 15:00 to 16:00<br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br>
<br><br><b>Categories:</b><br>610bfeb1f597af7a27439cc1,61092d1bcc09f730525db773</p><p><h3><a id="Monday-15-00-16-00-ONS-Overcoming-data-challenges-in-evaluation-Your-story">15:00 - 16:00 ONS: Overcoming data challenges in evaluation: Your story</a></h3><br><b>Session title</b><br>
Overcoming data challenges in evaluation: Your story<br>
<br>
<b>Short description</b><br>
An interactive workshop to discuss, learn and meet others using data for evaluation in government. on challenges, tips and solutions on collecting, linking, and using data for evaluation in government.<br>
We will uncover challenges, tips and solutions on collecting, linking, and using data (including admin data) for evaluation.<br>
<br>
<br>
<b>Format</b><br>
Workshop - government emoloyees only <br>
<br>
<b>Organiser(s) and organisation</b><br>
Lucia Barbone, Sofi Nickson ONS<br>
<br>
<b>Time and date</b><br>
15:00 - 16:00 Monday 27 September<br>
<br>
<b>Maximum capacity</b><br>
minimum 8<br>
<br>
<b>Link for joining or signing up</b><br>
<br><br><b>Categories:</b><br>61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10,611385bf03f48f5750ee5328</p>