{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect23
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect23</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          
<p><img src="/public/images/data-connect23.png" alt="DataConnect23 logo" width="77.5" height="77.5"><br/><h1 class="govuk-heading-xl">DataConnect23</h1></p>
<p class="govuk-body"><b>Welcome to DataConnect23</b></p>
<p class="govuk-body">This year's data conference series is taking place from <b>Monday 25 September to Friday 29 September 2023</b> and our programme is now live.</p>
<p class="govuk-body">The programme features over 100 sessions, led by a wide range of government departments, universities, institutes and other public sector organisations.</p>
<p class="govuk-body">We invite you to register for individual, virtual sessions now, and you will receive joining information prior to the event in September.</p>
<p class="govuk-body">We hope you network, innovate and upskill at this year's event.</p>
<p class="govuk-body">If you have any specific accessibility requirements, please <a href="mailto:dataconnect@digital.cabinet-office.gov.uk">contact us</a>.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Book DataConnect23 sessions</h2>
<p class="govuk-body">This week-long virtual event celebrates the power of data, and is facilitated by the Central Digital and Data Office (CDDO) and Data Quality Hub (DQHub), part of the Office for National Statistics (ONS).</p>
<p class="govuk-body">DataConnect brings together data experts from across central government, local government, devolved administrations, academia and national institutes. It has a diverse agenda created for, and led by, the public sector data community.</p>
<p class="govuk-body">Please register for individual sessions, which are listed by day, and by theme:</p>
<section class="product-page-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m" id="bring-it-together">Sessions by day</h3>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/monday"><strong>Monday 25 September</strong></a></p>    
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/tuesday"><strong>Tuesday 26 September</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/wednesday"><strong>Wednesday 27 September</strong></strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/thursday"><strong>Thursday 28 September</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/friday"><strong>Friday 29 September</strong></a></p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Sessions by theme</h3>
                <p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-management-governance"><strong>Data management and governance</strong></a></p>    
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/analysis-research-statistics"><strong>Analysis, research and statistics</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-architecture"><strong>Data architecture</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-quality"><strong>Data quality</strong></a></p>
              </div>
              <div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-m">&nbsp;</h3>
               <p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-sharing-apis"><strong>Data sharing and APIs</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-science"><strong>Data science</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-ethics-trust"><strong>Data ethics and trust</strong></a></p>
<p class="govuk-body"><a href="https://dataconnect.api.gov.uk/data-leadership-vision"><strong>Data leadership and vision</strong></a></p>
              </div>
            </div>
        </section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<section class="product-page-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
            <h2 class="govuk-heading-l">Sessions spotlight</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
		      <img loading="lazy" width="300" height="200" src="https://careers.dft.gov.uk/wp-content/uploads/2021/03/8.966-DVSA-FrontlineImage-1.jpg" alt="A DVSA employee" role="presentation">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/" class="govuk-link">The MCA Data Academy</a></h3>
                <p class="govuk-body">Hear how the Maritime and Coastguard Agency setup a programme of apprenticeships, training, certification, communities and career pathways to utilise the power of data.</p>
              </div>
              <div class="govuk-grid-column-one-third">
		      <img loading="lazy" width="300" height="200" src="https://gds.blog.gov.uk/wp-content/uploads/sites/60/2023/06/GOVUK_logo_pink_blog-1-620x413.png" alt="The logo of GOV.UK" role="presentation">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Using data capture on GOV.UK</a></h3>
                <p class="govuk-body">Learn about why GDS are creating an online form builder for government.</p>
              </div>
              <div class="govuk-grid-column-one-third">
		      <img loading="lazy" width="300" height="200" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/feature/image/95320/s465_hm-coastguard-website.jpg" alt="A laptop with MCA website on screen" role="presentation">
               <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Data Dashboards at Devon County Council</a></h3>
                <p class="govuk-body">Devon County Council share how they deployed PowerBI to create measurement dashboards across the Council.</p>
              </div>
            </div>
        </section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-l">A diverse agenda</h2>
<p class="govuk-body">This year’s programme includes over 100 events, delivered by a range of government departments including the Ministry of Defence (MoD), 10 Data Science (10DS), Ministry of Justice (MoJ), Home Office and Ordnance Survey, as well as Welsh Government, The University of Manchester, Devon County Council and The Alan Turing Institute.</p>
<p class="govuk-body">Sessions cover a range of different topics, including ChatGPT and large language models, data ethics, using data to support levelling up, future farming schemes, workforce planning and interoperability across government.</p>
<p>&nbsp;</p>
 <section class="product-page-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
            <div class="govuk-grid-row govuk-!-margin-bottom-0 partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="203" height="70" src="https://dataconnect.api.gov.uk/public/images/fcdo.svg" alt="The logo of the Foreign, Commonwealth & Development Office" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
              <img loading="lazy" width="206" height="86" src="https://dataconnect.api.gov.uk/public/images/university-of-manchester.png" alt="The logo of the University of Manchester" role="presentation">
	      </div>
              <div class="govuk-grid-column-one-quarter">
		      <img loading="lazy" width="213" height="94" src="https://dataconnect.api.gov.uk/public/images/alan-turing.png" alt="The logo of The Alan Turing Institute" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="devon" height="54" src="https://dataconnect.api.gov.uk/public/images/devon_county_council.png" alt="The logo of Devon County Council" role="presentation">              
              </div>
            </div>
            <div class="govuk-grid-row partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="206" height="42" src="https://dataconnect.api.gov.uk/public/images/neath-port-talbot-council-logo.png" alt="The logo of Neath Port Talbot Council" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="moj" width="89" height="70" src="https://dataconnect.api.gov.uk/public/images/moj.svg" alt="The logo of the Ministry of Justice" role="presentation">
              </div>
		     <div class="govuk-grid-column-one-quarter">
              <img loading="lazy" width="144" height="60" src="https://dataconnect.api.gov.uk/public/images/home-office.svg" alt="Home Office logo" role="presentation">
		     </div>
		        <div class="govuk-grid-column-one-quarter">
				<img loading="lazy" width="180" height="" src="https://dataconnect.api.gov.uk/public/images/the-welsh-government.png" alt="The logo of the Welsh Government" role="presentation">
                
              </div>
            </div>
        </section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	  <section class="product-page-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Our mailing list</h2>
            <p class="govuk-body"><a class="govuk-link" href="https://mailchi.mp/digital/get-started-with-govuk-digital-services-platforms"><b>Sign up to our mailing list</b></a> to keep up-to-date on DataConnect news and future events.</p>
        </div>
        </div>
        </section>
		
    
{% endblock %}
