		<li><a href="/speakerpack">More information for speakers and session hosts</a></li>
        <li><a href="/schedule" target="self">See the event agenda</a></li>
        <li><a href="/Monday">Monday 27th September</a></li>
        <li><a href="/Tuesday">Tuesday 28th September</a></li>
        <li><a href="/Wednesday">Wednesday 29th September</a></li>
        <li><a href="/Thursday">Thursday 30th September</a></li>
        <li><a href="/Friday">Friday 1st October</a></li>
        <li><a href="/schedule#categories" target="self">See the event agenda by category</a></li>
     	 {% include "categories.html" %}
