{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">DataConnect</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Session Information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">DataConnect - For prospective session owners and speakers</h1>

		<img src="/public/images/DataConnect21_logo.png" alt="DataConnect Week 2021" width="30%" style="margin: 0 0 40px 50px;">



		<h2 class="govuk-heading-l">DataConnect23</h2>

		<h3 class="govuk-heading-m">Bring it together</h3>
		<h3 class="govuk-heading-m">25 - 29 September 2023</h3>


		<p class="govuk-body">
		  DataConnect is the annual, one-week series of ‘everything data’ for the UK public sector. The sessions and overall programme are user-generated and open by default.
		</p>

		<h3 class="govuk-heading-m">DataConnect is by and for you</h3>
		<p>
			DataConnect is delivered by the UK public sector for the UK public sector. We welcome presenters and attendees who are at the start of their career to experienced leaders, from central government, devolved administrations, arm’s length bodies, local government, health, policing and security and other public bodies and services. You might have a defined DDaT or KIM role, or be coming from policy, operational delivery, legal, finance, HR, communications, commercial, counter fraud, or project management perspectives.
		</p>

		<h3 class="govuk-heading-m">Benefits for you and your organisation</h3>
		<p>
			DataConnect reaches a wide audience: the first DataConnect in 2021 delivered 83 sessions, with 6000 registered attendees across 325 organisations; in 2022 there were 77 sessions, 9000 registered attendees across 450 organisations.
		</p>

		<p>DataConnect can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				Improve the visibility of you, your team and your data work across government and the public sector
			</li>
			<li>
				Connect you with data professionals and interested parties across the public sector
			</li>
			<li>
				Join up data projects and opportunities
			</li>
		</ul>

		<h3 class="govuk-heading-m">Who can run a session at DataConnect?</h3>
		<p>
			DataConnect is a unique opportunity to connect with a wide audience to share your data stories and successes (and challenges). The programme is open to anyone working in the UK public sector. We’re interested in hearing from a diverse range of people doing interesting work with or around data.
    </p>
    <p>
    	You don’t need to be a data expert or a technical genius. You might have a defined digital, data and technology or knowledge and information management role, or you might be coming from policy, operational delivery, legal, finance, HR, communications, commercial, counter fraud, or project management perspectives.
    </p>

    <h4 class="govuk-heading-s">Non-public sector</h4>
    <p>
    	If you're outside the UK public sector, you can still participate in DataConnect.
    </p>
    <p>
    	You may have developed a service or carried out research using open public sector data - you’re welcome to run a session that focuses on the data issues and what the service or research has achieved. If you're a supplier to a public sector/government organisation, you’re welcome to participate as part of a session led by your commissioning organisation. Sessions should focus on what you've achieved together, rather than the capabilities of proprietary tools/systems or companies - DataConnect is not a vehicle for vendor pitches.
    </p>

    <h3 class="govuk-heading-m">Our offer to session owners and speakers</h3>
    <p>
    	We want you to have a good experience of DataConnect and realise all the benefits. Our job is to enable DataConnect as a ‘platform’ for your sessions.
    </p>
    <p>We will:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>
    		Promote DataConnect23 across the public sector to bring a wide audience to sessions
    	</li>
    	<li>
    		Provide an open schedule for your session
    	</li>
    	<li>
    		Publish the schedule centrally
    	</li>
    	<li>
    		Be here for advice and support on accessibility, technology and session planning, on request and through open online drop in sessions
    	</li>
    </ul>

    <h3 class="govuk-heading-m">Ideas for session formats</h3>
    <p>
    	Your session can be delivered in a way that works for you and your topic, it doesn’t have to be formal or use a slide deck.
    </p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>
    		Show and tell. A classic format for projects that are in development and a great way to engage people
    	</li>
    	<li>
    		Community Meetups. An open meetup of an existing group can be a great way to attract new members and show them what you’re all about.
    	</li>
    	<li>
    		Share a skill. Do you know some really useful data shortcuts using Python? Are you a developer who has set up an API instance in super-quick time? Can you explain why a data model is useful to a non-technical audience?
    	</li>
    	<li>
    		Panel discussion. A discussion or debate can be an ideal way to consider the data opportunities and challenges across the public sector.
    	</li>
    	<li>
    		Present a case study or data story. Case studies and storytelling are a powerful format to share learning across government.
    	</li>
    	<li>
    		Workshop a challenge. Bring a diverse group together to work on a problem in a structured, time limited session
    	</li>
    </ul>

    <h3 class="govuk-heading-m">Ready to register your session for DataConnect23? </h3>
    <p>Follow these instructions</p>



    </div>

    <div class="govuk-grid-column-one-third">


{#        TODO: uncomment in April #}

{#      <aside class="app-related-items" role="complementary">#}
{#        <h2 class="govuk-heading-m" id="subsection-title">#}
{#          Related links#}
{#        </h2>#}
{#        <nav role="navigation" aria-labelledby="subsection-title">#}
{#          <ul class="govuk-list govuk-!-font-size-16">#}
{#		<li>#}
{#              <a href="/schedule" target="self">#}
{#                See the event agenda#}
{#              </a>#}
{#            </li>#}
{#            <li><a href="/dc22/Monday">Monday 26th September</a></li>#}
{#            <li><a href="/dc22/Tuesday">Tuesday 27th September</a></li>#}
{#            <li><a href="/dc22/Wednesday">Wednesday 28th September</a></li>#}
{#            <li><a href="/dc22/Thursday">Thursday 29th September</a></li>#}
{#            <li><a href="/dc22/Friday">Friday 30th September</a></li>#}
{#            <li>#}
{#              <a href="#" class="govuk-!-font-weight-bold">#}
{#                More <span class="govuk-visually-hidden">in Subsection</span>#}
{#              </a>#}
{#            </li> -->#}
{#          </ul>#}
{#        </nav>#}
{#      </aside>#}

    </div>
  </div>
{% endblock %}
