{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">DataConnect</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Session Information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">DataConnect guide for speakers and session hosts</h1>

		<img src="/public/images/DataConnect21_logo.png" alt="DataConnect Week 2021" width="30%" style="margin: 0 0 40px 50px;">

		<p> 26th to 30th September 2022. Hosted by the Central Digital and Data Office and the Government Data Quality Hub.</p>
	    
	    	<p><a href="#participation-guidelines">Guidelines for participation</a></p>

		<p>DataConnect is a week-long festival of all things data across government, local government and the UK public sector, running from Monday 26th to Friday 30th September.</p>

		<p>It's co-hosted by the Central Digital and Data Office (at the Cabinet Office) and the Government Data Quality Hub at the Office for National Statistics.</p>

		<p>Anyone and everyone in the UK public sector interested in data will come together online to tell and hear stories about data in government and reflect on the wider effect that better use of data is having across the whole of government.

		<h1 class="govuk-heading-m">Tell your story at DataConnect</h1>
		<p>You're invited to take part. You do not need to be a data expert. We’re interested in hearing from a diverse range of people doing interesting work with data.</p>

		<p>DataConnect is a unique opportunity for you to connect with a wide audience to share your team’s data stories and successes.</p>

		<p>If you're outside the UK public sector, we’re still keen to hear from you.</p>

		<p>If you've built a service or carried out research using publicly available public sector and government data, please share your story.</p>

		<p>If you're working as a supplier to a public sector or government organisation, we'd really like to hear about your work. Ideally, sessions will be run in partnership, focusing on what you've achieved together rather than the capabilities of specific software or companies.



		<h1 class="govuk-heading-m">What’s in it for you</h1>
		<p>Run your own session or event as a host, joining DWP Digital, Central Digital and Data Office, Office for National Statistics, Open Data Institute and many others who have already signed up to run sessions.</p>

		<p>You’re welcome to contact the organisers at <a href="mailto:dataconnect@digital.cabinet-office.gov.uk">dataconnect@digital.cabinet-office.gov.uk</a> to talk through your ideas.</p>
	   

		<p>If you host a session, DataConnect will connect you with people from across the public sector, central and local government – product owners, service delivery, operational and policy people as well as those from the digital, data and technology and analysis functions.</p>

		<p>You’ll be in good company. The following are some of the organisations that are taking part this year:<br><br>
      <ul class="govuk-list govuk-list--bullet">
		<li>Office for National Statistics</li>
		<li>Ministry of Justice</li>
		<li>Barnsley Council</li>
		<li>Local Government Association</li>
		<li>UKHSA</li>
		<li>Department for International Trade</li>
    </ul>

		<h1 class="govuk-heading-m">The benefits to organisations of engaging with DataConnect</h1>

    Joining us at this event will help your organisation:
		 <ul class="govuk-list govuk-list--bullet">
        <li>showcase successes and promote collaboration around the opportunities that come from better use of data across the public sector, connecting this with direct benefits to citizens</li>
		<li>connect data and digital policy and technical teams across government, local government and the public sector</li>
		<li>incentivise better practice and help build data capability across government and support delivery of the <a href= "https://www.gov.uk/guidance/national-data-strategy"> National Data Strategy missions </a>
		and <a href="https://www.gov.uk/government/publications/roadmap-for-digital-and-data-2022-to-2025">Digital and Data Roadmap 2022-2025</a></li>
		<li>use learnings from the event to inform policy development and increase collaboration between data policy and practice specialists across government</li>
		</ul>

		<h1 class="govuk-heading-m">Next steps for speakers</h1>

		<p>Tell us the topic of your session and what day and time you’d like to run it. Email us at <a href="mailto:dataconnect@digital.cabinet-office.gov.uk">dataconnect@digital.cabinet-office.gov.uk</a> as soon as you can.</p>

		<p>The DataConnect organising team will get back to you within 3 working days to confirm we’ve received your session pledge.</p>

		<p>Then you’ll need to:</p>

		<ul class="govuk-list govuk-list--bullet">
        <li>plan the session - if you are running the session on your own, we can help if you email us</li>
		<li>use online meeting tools to run your session - we’ll send you information on accessibility and privacy as part of our support to you</li>
		<li>decide whether your session will be open to all or limited to a specific audience</li>
		</ul>

		<h1 class="govuk-heading-m">The DataConnect organising team will provide:</h1>
		<ul class="govuk-list govuk-list--bullet">
        <li>an open schedule where you can add your session at the day and time you choose</li>
		<li>communications across government about the event, bringing a wide audience to your session</li>
		<li>advice and support on accessibility, technology and session planning to help you get the best out of your session</li>
		<li>open office hours to get advice, connect with other session hosts or test your setup</li>
		</ul>

		<h2 class="govuk-heading-m">Decide whether your session will be open or closed</h2>

		<p>This is something that you can choose, based on the content of your session. Please note that DataConnect will have a wide public sector and possibly private sector audience.</p>

		<p>Some people choose to share an open link, for example when using webinar software. Others chose to ask participants to email or register for the link so they can see who’s attending. Either way is fine and up to you.</p>
	    
	    <h1 class="govuk-heading-m">Open hours with the DataConnect organisers&nbsp;</h1>



		<h1 class="govuk-heading-m">Stay connected with DataConnect</h1>

		<p>Sign up for our mailing list at <a href="mailto:dataconnect@digital.cabinet-office.gov.uk">dataconnect@digital.cabinet-office.gov.uk</a> to receive updates.</p>

		<p>Publish a post on social media about your career path or interest in data and share it with us.</p>

		<p>Join the conversation on LinkedIn, Twitter or Instagram with the hashtag #DataConnect22 and share our content with your followers.</p>

		<p>Join the <a href="https://khub.net/group/dataconnect" target="new">DataConnect group on Knowledge Hub</a> for local government and public sector people.</p>

		<h1 class="govuk-heading-l">Ideas for session formats</h1>

		<h1 class="govuk-heading-m">Show and tells</h1>

		<p>Show and tells are a great way to engage people with a product or service you're developing, or a new technique or platform you’ve found useful.</p>

		<p>You can connect with DataConnect in the following ways:</p>
		<ul class="govuk-list govuk-list--bullet">
        <li>arrange a show and tell for a cross-government audience as part of our planned schedule for DataConnect week - you bring the topic, we’ll bring the audience</li>
        <li>use the DataConnect21 backgrounds or logo with your planned show and tell talk</li>
        </ul>

		<h1 class="govuk-heading-m">Community meetups</h1>

		<p>Meetups are a great way to discuss the opportunities and challenges with data across government.</p>

		<p>You can connect with DataConnect21 in the following ways:</p>
		<ul class="govuk-list govuk-list--bullet">
        <li>sign up for our mailing list to find out about meetups taking place during DataConnect</li>
        <li>arrange a meetup of networks you're a part of during DataConnect week and let us know</li>
		<li>organise a discussion for a cross-government audience as part of our planned schedule for DataConnect week - you set the topic, we’ll bring the people</li>
		</ul>



		<h1 class="govuk-heading-m">Share a skill</h1>

		<p>Do you know some really useful data shortcuts using Python?<br>
		Are you a developer who has set up an API instance in super-quick time?<br>
		Can you explain why a data model is useful to a non-technical audience?</p>

		<p>Share your skills and knowledge with DataConnect by running a short workshop or skillshare session during DataConnect21 week, using our backgrounds and logo. You set up the session, we’ll bring the participants.</p>

		<h1 class="govuk-heading-m">Present a case study or data story</h1>

		<p>Case studies and storytelling are a great way to share learning across government.</p>

		<p>You can connect with DataConnect21 in the following ways:</p>
		<ul class="govuk-list govuk-list--bullet">
        <li>contact us to find out about case study and storytelling sessions taking place during DataConnect</li>
        <li>arrange to tell the story of your team’s work to the rest of your organisation</li>
        <li>organise a case study session as part of our open schedule for DataConnect week - you set the topic, we’ll bring the people</li>
        </ul>

		<h1 class="govuk-heading-m">Write or record a post and share it with us</h1>

		<p>If you enjoy following data people on social media, why not take the leap and write, record or share your own data story on the social media platform of your choice during DataConnect21?</p>

		<p>Writing about what you’ve learnt or your work around data is a great way to reflect on it and share your learnings with others.</p>

		<p>If you share your story with us, we’ll help promote it via social media and might even invite you to share it as a CDDO blog post.</p>

		<p>You can connect with DataConnect21 on social media using the tag #DataConnect by:</p>
		<ul class="govuk-list govuk-list--bullet">
        <li>sharing your story on LinkedIn, Instagram and Twitter or other social media platform</li>
		<li>liking and repost other people’s stories</li>
		<li>if you’re in a network of data people, encourage others to share their story or create a joint story and share on your favourite social platform</li>
		</ul>


		<h1 id="participation-guidelines" class="govuk-heading-m">Participation guidelines for DataConnect</h1>

		<p>DataConnect21 welcomes and encourages participation by everyone. It doesn&lsquo;t matter how you identify yourself or how others perceive you: we welcome you. We ask that all session organisers, speakers and participants follow and adhere to our participation guidelines for DataConnect21.</p>

		<ul class="govuk-list govuk-list--bullet">
		<li>Be respectful and value each other&rsquo;s ideas, styles and viewpoints.</li>
		<li>Be direct but professional</li>
		<li>Be inclusive and help new perspectives be heard.</li>
		<li>Appreciate and accommodate our many cultural practices, attitudes and beliefs.</li>
		<li>Be open to learning from others.</li>
		<li>Lead by example and match your actions with your words.</li>
		</ul>

		<h1 class="govuk-heading-m">Be respectful and value each other&rsquo;s ideas, styles and viewpoints</h1>

		<p>Value each other&rsquo;s ideas, styles and viewpoints. We may not always agree, but disagreement is no excuse for poor manners. Be open to different possibilities and to being wrong. Be respectful in all interactions and communications, especially when debating the merits of different options. Be aware of your impact and how intense interactions may be affecting people. Be direct, constructive and positive. Take responsibility for your impact and your mistakes &ndash; if someone says they have been harmed through your words or actions, listen carefully, apologize sincerely, and correct the behavior going forward.</p>

		<h1 class="govuk-heading-m">Be direct but professional</h1>

		<p>We must be able to speak directly when we disagree and when we think we need to improve. We cannot withhold hard truths. Doing so respectfully is hard, doing so when others don&rsquo;t seem to be listening is harder, and hearing such comments when one is the recipient can be even harder still. We need to be honest and direct, as well as respectful.</p>

		<h1 class="govuk-heading-m">Be inclusive and help new perspectives be heard</h1>

		<p>Seek diverse perspectives. Diversity of views and of people on teams powers innovation, even if it is not always comfortable. Encourage all voices. Help new perspectives be heard and listen actively. If you find yourself dominating a discussion, it is especially important to step back and encourage other voices to join in. Be aware of how much time is taken up by dominant members of the group. Provide alternative ways to contribute or participate when possible.</p>

		<p>Be inclusive of everyone in an interaction, respecting and facilitating people&rsquo;s participation whether they are:</p>

		<ul class="govuk-list govuk-list--bullet">
		<li>Remote (on video or phone)</li>
		<li>Not native language speakers</li>
		<li>Coming from a different culture</li>
		<li>Using pronouns other than &ldquo;he&rdquo; or &ldquo;she&rdquo;</li>
		<li>Living in a different time zone</li>
		<li>Facing other challenges to participate</li>
		</ul>

		<p>Think about how you might facilitate alternative ways to contribute or participate. If you find yourself dominating a discussion, step back. Make way for other voices and listen actively to them.</p>

		<p>Our goal should not be to &ldquo;win&rdquo; every disagreement or argument. A more productive goal is to be open to ideas that make our own ideas better. Strive to be an example for inclusive thinking. &ldquo;Winning&rdquo; is when different perspectives make our work richer and stronger.</p>

		<h1 class="govuk-heading-m">Appreciate and accommodate our similarities and differences</h1>

		<p>DataConnect21 participants will come from many cultures and backgrounds. Cultural differences can encompass everything from official religious observances to personal habits to clothing. Be respectful of people with different cultural practices, attitudes and beliefs. Work to eliminate your own biases, prejudices and discriminatory practices. Think of others&rsquo; needs from their point of view. Use preferred titles (including pronouns) and the appropriate tone of voice. Respect people&rsquo;s right to privacy and confidentiality. Be open to learning from and educating others as well as educating yourself.</p>

		<h1 class="govuk-heading-m">Lead by example</h1>

		<p>By matching your actions with your words, you become a person others want to follow. Your actions influence others to behave and respond in ways that are valuable and appropriate&nbsp;</p>

		<p>The following will not be tolerated at DataConnect21: violence and threats of violence; personal attacks; derogatory language; unwelcome attention or contact; disruptive behaviour; influencing unacceptable behaviour.</p>

		<p>If you experience practices or behaviors at DataConnect21 which don&lsquo;t meet our Participation Guidelines, or if you feel you are being harassed in any way, please immediately contact <a href="mailto:dataconnect21@digital.cabinet-office.gov.uk">dataconnect21@digital.cabinet-office.gov.uk</a>. All issues raised are treated as confidential and shared only with the DataConnect21 organising team.</p>

		<p>With thanks to Mozilla Festival for borrowing their Participation Guidelines&nbsp;<a href="https://www.mozillafestival.org/en/guidelines/">Mozilla Festival - Participation Guidelines</a>&nbsp;(2020 version).</p>


		<h1 class="govuk-heading-l">Contact us</h1>

		<p>We’re here to help. Our cross-government organising group is really keen to make sure we can give you the support you need to run a session.</p>

		<p>Contact us:</p>
		<ul class="govuk-list govuk-list--bullet">
        <li>by email at <a href="mailto:dataconnect@digital.cabinet-office.gov.uk">dataconnect@digital.cabinet-office.gov.uk</a></li>
		<li>on Knowledge Hub – the space for local government and public sector people</li>
		</ul>

		<p>This event is organised by the <a href="https://www.gov.uk/government/organisations/central-digital-and-data-office">Central Digital and Data Office</a> and the <a href="https://www.gov.uk/government/organisations/government-data-quality-hub">Government Data Quality Hub</a></p>





      <a href="https://mailchi.mp/8592faaf40a1/dataconnect" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign up
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
		<li>
              <a href="/schedule" target="self">
                See the event agenda
              </a>
            </li>
            <li><a href="/dc22/Monday">Monday 26th September</a></li>
            <li><a href="/dc22/Tuesday">Tuesday 27th September</a></li>
            <li><a href="/dc22/Wednesday">Wednesday 28th September</a></li>
            <li><a href="/dc22/Thursday">Thursday 29th September</a></li>
            <li><a href="/dc22/Friday">Friday 30th September</a></li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
