<p><h2>Thursday</h2></p><p><h3><a href="#Thursday-10-00-11-00-iStandUK-How-data-standards-and-data-sharing-can-transform-local-public-services">10:00 - 11:00 iStandUK: How data standards and data sharing can transform local public services</a></h3><br><b>Session title: How data standards and data sharing can transform local public services</b><br>
<br>
<b>Short description</b><br>
The session will showcase how standards and data can be used to find and support vulnerable people, and propose steps towards an ecosystem of on-demand data, services and trust.<br>
<br>
<b>Organiser(s) and organisation</b><br>
Paul Davidson is the Chief Digital Officer of Sedgemoor District Council, and the Director of Standards for iStandUK.  He will be joined by Shelley Heckman from Tameside Council and Programme Manager for iStandUK and Phil Swan, Director for Digital, Greater Manchester Combined Authority and the Chair of iStandUK.<br>
<br>
<b>Time and date</b><br>
30 September 2021, 10:00 - 11:00<br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br>
<br>Categories:<br>61092d1bcc09f730525db77f,611385bf03f48f5750ee5328</p><p><h3><a href="#Thursday-11-00-12-00-UK-Statistics-Authority-Empowering-analysts-to-consider-the-ethics-of-their-work-A-case-study-of-the-UK-Statistics-Authority-s-data-ethics-framework">11:00-12:00 UK Statistics Authority: Empowering analysts to consider the ethics of their work: A case study of the UK Statistics Authority’s data ethics framework</a></h3><br>#Session title<br>
Empowering analysts to consider the ethics of their work: A case study of the UK Statistics Authority’s data ethics framework <br>
<br>
<b>Short description</b><br>
Ensuring use of data in ethically appropriate ways is an important enabler for realising the potential to use data for public good research and statistics. The UK Statistics Authority has developed a framework and portfolio of services to empower analysts to consider the ethics of their research quickly and easily, at the research design phase. This session will provide an overview of this framework and accompanying user support services. <br>
<br>
<b>Format</b><br>
Case study / show and tell<br>
<br>
<b>Organiser(s) and organisation</b><br>
Lily O'Flynn, UK Statistics Authority<br>
Simon Whitworth, UK Statistics Authority<br>
<br>
<b>Time and date</b><br>
11:00-12:00 30th September <br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br>
<br>
<br>
<br>Categories:<br>61092d1bcc09f730525db779,611b8e02c43b508336519ffd</p><p><h3><a href="#Thursday-11-00-13-00-Central-Digital-and-Data-Office-Panel-Trusted-access-and-use-of-government-data">11:00 - 13:00: Central Digital and Data Office - Panel: Trusted access and use of government data</a></h3><br>#Session title<br>
Trusted access and use of government data<br>
<br>
<b>Short description</b><br>
<br>
- Viv Adams, Principal Policy Adviser - ICO<br>
<br>
- Dr Murat Soncul, GDS - 'How data protection legislation permits you to share data'<br>
<br>
- Sam Roberts, CDDO - 'Data and public trust: transparency and engagement for meaningful digital transformation'<br>
<br>
<b>Format</b><br>
In person speakers - each presenting followed by roundtable conversation and Q&A<br>
<br>
<b>Organiser(s) and organisation</b><br>
Data Standards Authority<br>
<br>
<b>Time and date</b><br>
Thursday 30th September, 11:00 - 13:00<br>
<br>
Presented from Piccadilly Gate to an all-virtual audience <br>
<br>
<b>Link for joining or signing up</b><br>
<br>Categories:<br>611385bf03f48f5750ee5328,61092d1bcc09f730525db779</p><p><h3><a href="#Thursday-10-00-16-00-DATA-STANDARDS-AUTHORITY-API-Hackathon-Let-s-build-something-with-government-APIs-">10:00 - 16:00 DATA STANDARDS AUTHORITY: API Hackathon - Let's build something with government APIs...</a></h3><br><b>Session title</b><br>
API Hackathon<br>
<br>
<b>Short description</b><br>
APIs in the UK government - a challenge.<br>
<br>
<b>Format</b><br>
Interactive<br>
<br>
<b>Organiser(s) and organisation</b><br>
Charles Baird, Andrew Corbally, Sarah Johns<br>
<br>
<b>Time and date</b><br>
Thursday 30th September - 10:00 - 16:00<br>
<br>
<b>Maximum capacity</b><br>
50 (max 10 teams)<br>
<br>
<b>Link for joining or signing up</b><br>
<br>
<br>
<br>
<br>
<br>
<br>Categories:<br>61092d1bcc09f730525db773,61129b879c132c2e5a4d8cf5,61127d38eea26c600b2ebe5b</p><p><h3><a href="#Thursday-13-30-14-30-ONS-DATA-ORCHARD-ENVIRONMENT-AGENCY-SCOTTISH-GOVERNMENT-Data-Maturity-model-TITLE-TBC-Andy-Scofield-ONS-online-from-Manchester-with-Nick-Ben-and-Shona-online">13:30 - 14:30 ONS / DATA ORCHARD / ENVIRONMENT AGENCY / SCOTTISH GOVERNMENT: Data Maturity model [TITLE: TBC], Andy Scofield, ONS - online from Manchester, with Nick, Ben and Shona online</a></h3><br><b>Session title</b><br>
Data Maturity models (final title to come)<br>
<br>
<b>Short description</b><br>
Joint session from Government Data Quality Hub, Data Orchard, Environment Agency and Scottish Government, showcasing the benefits of using a data maturity model (final description to come)<br>
<br>
<b>Format</b><br>
Case study presentation<br>
<br>
<b>Organiser(s) and organisation</b><br>
Andy Schofield, Government Data Quality Hub<br>
<br>
and<br>
<br>
Ben Proctor, Data Orchard<br>
<br>
and <br>
<br>
Nick Keen, Data Governance Lead, Environment Agency<br>
nick.keen@environment-agency.gov.uk<br>
<br>
and <br>
<br>
Shona Nicol, Scottish Government<br>
<br>
<b>Time and date</b><br>
13:30 - 14:30 30/09/21<br>
<br>
<b>Maximum capacity</b><br>
[If applicable]<br>
<br>
<b>Link for joining or signing up</b><br>
[Link goes here]<br>
<br>Categories:<br>61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10</p><p><h3><a href="#Thursday-14-30-15-30-INDEX-Information-Data-Exchange-session-Cabinet-Office">14:30 - 15:30 INDEX (Information & Data Exchange) session - Cabinet Office</a></h3><br>The Cabinet Office INDEX (Information & Data Exchange) team is developing a trusted and secure digital service for government to allow people working across HMG to quickly find relevant information, data and services from within and external to government. <br>
<br>
Francesca Henshaw - INDEX Product Manager<br>
Ian Birkmyre - INDEX Project Manager<br>
Jess Lawrence - INDEX Senior Data Analyst<br>Categories:<br>61092d1bcc09f730525db773,61092d1bcc09f730525db77d,610bfe7c3a24bb7875086b3d</p><p><h3><a href="#Thursday-16-30-17-30-DATA-STANDARDS-AUTHORITY-API-Hackathon-results-show-tell">16.30-17.30 DATA STANDARDS AUTHORITY: API Hackathon results / show & tell</a></h3><br><b>Session title</b><br>
API Hackathon Results<br>
<br>
<b>Short description</b><br>
Join us live from Manchester as we present the winners of the API hackathon<br>
<br>
<b>Format</b><br>
Interactive<br>
<br>
<b>Organiser(s) and organisation</b><br>
Charles Baird, Andrew Corbally, Sarah Johns<br>
<br>
<b>Time and date</b><br>
Thursday 30th September, 16:30 - 17:30<br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br>
<br>
<br>
<br>
<br>Categories:<br>61092d1bcc09f730525db773,61129b879c132c2e5a4d8cf5</p><p><h3><a href="#Thursday--Time-ONS-Level-7-Data-Science-Training">[Time] ONS: Level 7 Data Science Training</a></h3><br><b>Session title:</b><br>
Level 7 Data Science Training <br>
<br>
<b>Short description</b><br>
<br>
<b>Format</b><br>
Workshop<br>
<br>
<b>Organiser(s) and organisation</b><br>
Debbie Cooper, ONS<br>
<br>
<b>Time and date</b><br>
<br>
<b>Maximum capacity</b><br>
<br>
<b>Link for joining or signing up</b><br>
<br>Categories:<br>611b8e02c43b508336519ffd,610bfeb1f597af7a27439cc1</p>