<p><h2>Thursday</h2></p><p><h3>10:00 - 11:00 iStandUK: How data standards and data sharing can transform local public services</h3><br>##Session title: How data standards and data sharing can transform local public services

##Short description
The session will showcase how standards and data can be used to find and support vulnerable people, and propose steps towards an ecosystem of on-demand data, services and trust.

##Organiser(s) and organisation
Paul Davidson is the Chief Digital Officer of Sedgemoor District Council, and the Director of Standards for iStandUK.  He will be joined by Shelley Heckman from Tameside Council and Programme Manager for iStandUK and Phil Swan, Director for Digital, Greater Manchester Combined Authority and the Chair of iStandUK.

##Time and date
30 September 2021, 10:00 - 11:00

##Maximum capacity

##Link for joining or signing up
<br>61092d1bcc09f730525db77f,611385bf03f48f5750ee5328</p><p><h3>11:00-12:00 UK STATISTICS AUTHORITY: Empowering analysts to consider the ethics of their work: A case study of the UK Statistics Authority’s data ethics framework</h3><br>#Session title
Empowering analysts to consider the ethics of their work: A case study of the UK Statistics Authority’s data ethics framework 

##Short description
Ensuring use of data in ethically appropriate ways is an important enabler for realising the potential to use data for public good research and statistics. The UK Statistics Authority has developed a framework and portfolio of services to empower analysts to consider the ethics of their research quickly and easily, at the research design phase. This session will provide an overview of this framework and accompanying user support services. 

##Format
Case study / show and tell

##Organiser(s) and organisation
Lily O'Flynn, UK Statistics Authority
Simon Whitworth, UK Statistics Authority

##Time and date
11:00-12:00 30th September 

##Maximum capacity

##Link for joining or signing up


<br>61092d1bcc09f730525db779,611b8e02c43b508336519ffd</p><p><h3>11:00 - 13:00: Central Digital and Data Office - Panel: Trusted access and use of government data</h3><br>#Session title
Trusted access and use of government data

##Short description

- Viv Adams, Principal Policy Adviser - ICO

- Dr Murat Soncul, GDS - 'How data protection legislation permits you to share data'

- Sam Roberts, CDDO - 'Data and public trust: transparency and engagement for meaningful digital transformation'

##Format
In person speakers - each presenting followed by roundtable conversation and Q&A

##Organiser(s) and organisation
Data Standards Authority

##Time and date
Thursday 30th September, 11:00 - 13:00

Presented from Piccadilly Gate to an all-virtual audience 

##Link for joining or signing up
<br>611385bf03f48f5750ee5328,61092d1bcc09f730525db779</p><p><h3>10:00 - 16:00 DATA STANDARDS AUTHORITY: API Hackathon - Let's build something with government APIs...</h3><br>##Session title
API Hackathon

##Short description
APIs in the UK government - a challenge.

##Format
Interactive

##Organiser(s) and organisation
Charles Baird, Andrew Corbally, Sarah Johns

##Time and date
Thursday 30th September - 10:00 - 16:00

##Maximum capacity
50 (max 10 teams)

##Link for joining or signing up





<br>61092d1bcc09f730525db773,61129b879c132c2e5a4d8cf5,61127d38eea26c600b2ebe5b</p><p><h3>[TIME: TBC] ONS / DATA ORCHARD / ENVIRONMENT AGENCY: Data Maturity model [TITLE: TBC], Andy Scofield, ONS - online from Manchester, with Nick and Ben online</h3><br>##Session title
Data Maturity models (final title to come)

##Short description
Joint session from Government Data Quality Hub, Data Orchard and Environment Agency, showcasing the benefits of using a data maturity model (final description to come)

##Format
Case study presentation

##Organiser(s) and organisation
Andy Schofield, Government Data Quality Hub

and

Andy Scofield, ONS

Ben Proctor, Data Orchard

and 

Nick Keen, Data Governance Lead, Environment Agency
nick.keen@environment-agency.gov.uk

##Time and date
to be confirmed (Tuesday or Wednesday)

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>61092d1bcc09f730525db77d,610bfb8edf35781d3d9c7b10</p><p><h3>14:30 - 15:30 INDEX (Information & Data Exchange) session - Cabinet Office</h3><br>The Cabinet Office INDEX (Information & Data Exchange) team is developing a trusted and secure digital service for government to allow people working across HMG to quickly find relevant information, data and services from within and external to government. 

Francesca Henshaw - INDEX Product Manager
Ian Birkmyre - INDEX Project Manager
Jess Lawrence - INDEX Senior Data Analyst<br>61092d1bcc09f730525db773,61092d1bcc09f730525db77d,610bfe7c3a24bb7875086b3d</p><p><h3>16.30-17.30 DATA STANDARDS AUTHORITY: API Hackathon results / show & tell</h3><br>##Session title
API Hackathon Results

##Short description
Join us live from Manchester as we present the winners of the API hackathon

##Format
Interactive

##Organiser(s) and organisation
Charles Baird, Andrew Corbally, Sarah Johns

##Time and date
Thursday 30th September, 16:30 - 17:30

##Maximum capacity

##Link for joining or signing up



<br>61092d1bcc09f730525db773,61129b879c132c2e5a4d8cf5</p><p><h3>[Time] ONS: Level 7 Data Science Training</h3><br>##Session title:
Level 7 Data Science Training 

##Short description

##Format
Workshop

##Organiser(s) and organisation
Debbie Cooper, ONS

##Time and date

##Maximum capacity

##Link for joining or signing up
<br>611b8e02c43b508336519ffd</p>