{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect23
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://dataconnect.api.gov.uk/">DataConnect23</a>
      </li>
	    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://dataconnect.api.gov.uk/tuesday">Tuesday 26 September 2023</a>
    </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DataConnect23
      </h1>

      <h3 class="govuk-heading-m" id="data-connect-is-coming">Tuesday 26 September 2023</h3>


<p>&nbsp;</p>    
<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">The IDS Dissemination platform: APIs and a platform for interoperable statistics - ONS</a></strong></p>	        
<h3 class="govuk-heading-s">Tuesday 26 September, 9.15am to 10.00am</h3>
<p>ONS and TPXimpact will present the Integrated Data Service dissemination platform: a data platform and APIs to support flexible access to a wide ranging collection of government stats. But having an API doesn't solve all the problems: the underlying data needs to be interoperable and standards-based too. We brought together data owners across government, defining standards and supporting them with tools and advice to create a high quality set of interoperable data.</p>	    

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Automating an adaptive Metadata management to improve FAIR principles and data maturity - Department for Business and Trade</a></strong></p>	        
<h3 class="govuk-heading-s">Tuesday 26 September, 10.00am to 11.00am</h3>
<p>Disparate data sources - and their metadata sources - can create an inconsistent and subjective understanding of data asset. A failure of identifying data redundancies can prevent consuming data to support to decision making.  Some enterprise metadata management may become costly and restrictive.  We, therefore, propose to discuss automating the extraction of metadata with its curation, analysis, visualisation for various data users and consumers. FAIR principles and data maturity will be demonstrated through a presentation, including an adaptable “metadata” architecture</p>
  
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-m" id="bring-it-together">Sessions by day</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Monday 25 September</a></p>    
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Tuesday 26 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Wednesday 27 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Thursday 28 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Friday 29 September</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-m" id="bring-it-together">Sessions by theme</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data management and governance</a></p>    
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Analysis, research and statistics</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data architecture</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data quality</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data sharing and APIs</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data science</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data ethics and trust</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data leadership and vision</a></p>

    
  </div>

<div class="govuk-width-container">
  <div
    class="govuk-grid-row content-section govuk-!-margin-bottom-7 feature-row"
  >
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Easy to use</h2>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Free</h2>
        <div class="govuk-body">
          GOV.UK Forms is free to use for central government.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Fewer errors</h2>
        <div class="govuk-body">
          Form responses are automatically checked for missing answers or
          answers in the wrong format, so there’s less missing information and
          fewer errors compared to document-based forms like PDFs.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Faster form processing</h2>
        <div class="govuk-body">
          Receiving completed forms digitally, with fewer errors, means
          processing is faster and easier compared to document-based forms like
          PDFs.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Accessible forms</h2>
        <div class="govuk-body">
          GOV.UK Forms uses accessible GOV.UK templates to make it easy to meet
          public sector accessibility requirements.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">See how well your forms are working</h2>
        <div class="govuk-body">
          Use simple analytics to see where users are struggling, giving up or
          making errors.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Secure</h2>
        <div class="govuk-body">
          GOV.⁠UK Forms is designed to meet the latest government cyber security standards.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Protects data</h2>
        <div class="govuk-body">
          The GOV.UK Forms platform protects user data and helps you to comply
          with data protection regulations.
        </div>
      </div>
    </div>
  </div>

  <hr
    class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
  />











  <main
      class="govuk-main-wrapper--auto-spacing"
      id="main-content"
      role="main"
    >
      <div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body" id="index-hero-body">
        <h1 class="hero__title">Create online forms for GOV.UK</h1>

        <p class="hero__description">
          Create an accessible online form in minutes without needing technical knowledge.
        </p>

        <p class="hero__paragraph">
          GOV.UK Forms is in development with selected government partners. You
          can register to get a notification when it’s available for all of
          central government.
        </p>
        <a
          href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1"
          role="button"
          draggable="false"
          class="govuk-button govuk-button--start app-button--inverted"
        >
          Register your interest
          <svg
            aria-hidden="true"
            class="govuk-button__start-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="17.5"
            height="19"
            viewBox="0 0 33 40"
            focusable="false"
          >
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>
      <div class="hero__aside-image">
        <img
          src="/images/homepage-illustration.svg"
          alt=""
          role="presentation"
        />
      </div>
    </div>
  </div>
</div>


<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Why use GOV.UK Digital Service Platform</h2>
            <p class="govuk-body govuk-!-margin-bottom-8">GOV.UK Digital Service Platform is provided by the <a class="govuk-link" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a>.</p>
            </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data management and governance</h3>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Analysis, research and statistics</h3>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data architecture</h3>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data quality</h3>
                <p class="govuk-body">All our tools are fully accessible for both civil servants and end users</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data sharing and APIs</h3>
                <p class="govuk-body">Put your users at ease with government branded comms and familiar GOV.UK styles</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data science</h3>
                <p class="govuk-body">Quickly test your ideas for your service before you build it, saving time and money and reducing risk</p>
              </div>
            </div>
        </section>






	   <div class="hero__content">
        <div class="hero__body">
          <h1 class="hero__title">Build and run online services easily</h1>
          <div class="hero__inline-image">
            <img src="assets/images/platforms.svg" alt="" role="presentation">
          </div>
          <p class="hero__description">
            GOV.UK Digital Service Platform is a set of tools to make it easier to build and run your online service if you work in the public sector.
          </p>
          <p class="hero__description">
            You can create accessible, low cost online services without needing coding skills or technical knowledge.
          </p>
          <a href="sign-up.html" role="button" class="govuk-button govuk-button--start button--start_white" data-click-events="" data-click-category="Hero" data-click-action="Internal link clicked">  Sign up to learn more
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>
        </div>
        <div class="hero__aside-image">
          <img src="assets/images/platforms.svg" alt="An illustration with a laptop of your service, with GOV.UK One Login, Forms, Pay and Notify around it." role="presentation" width="289" height="182">
        </div>
      </div>
    </div>
  </div>
	  




<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
	      <h2 class="govuk-heading-l">Tuesday 26 September</h2>
      </div>
    </div>

    <div class="govuk-grid-row">

 <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">9.15am to 10.00am</h3>
        <p class="govuk-body">Office for National Statistics and TPXImpact</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">The IDS Dissemination platform: APIs and a platform for interoperable statistics</h2>
        <p class="govuk-body">ONS and TPXimpact will present the Integrated Data Service dissemination platform: a data platform and APIs to support flexible access to a wide ranging collection of government stats.</p>
      </div>
   
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">10.00am to 11.00am</h3>
        <p class="govuk-body">Department for Business & Trade</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Automating an adaptive Metadata management to improve FAIR principles and data maturity</h2>
        <p class="govuk-body">This session will discuss automating the extraction of metadata with its curation, analysis, visualisation for data users and consumers. Find out about FAIR principles and data maturity, and an adaptable “metadata” architecture.</p>
      </div>

 <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">10.45am to 11.30am</h3>
        <p class="govuk-body">Maritime & Coastguard Agency</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Establishing a Data Academy</h2>
        <p class="govuk-body">The Data Academy is designed to educate and empower data citizens, data experts, and senior leadership teams in the MCA. Learn how the organisation developed a programme of apprenticeships, training, certification, communities and career pathways to utilise the power of data.</p>
      </div>
	    
    </div>

  </main>
</div>








<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Sign up to stay in touch</h2>
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="https://mailchi.mp/digital/get-started-with-govuk-digital-services-platforms">Sign up to our mailing list</a> to register an interest in new products, access product trials or participate in research.</p>
        </div>
        </div>
        </section>



<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
            <h2 class="govuk-heading-l">Sessions you may be interested in</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/" class="govuk-link">Notify’s product strategy and upcoming features</a></h3>
                <p class="govuk-body">Outlining our three goals to ensure we continue to offer a great product for the best value for money.</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Making it easy to create and publish digital forms on GOV.UK</a></h3>
                <p class="govuk-body">Read about our partnership with the Insolvency Service to build the first form using GOV⁠.⁠UK Forms and why we’re creating an online form builder for government.</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/17/the-single-data-environment-joined-up-digital-analytics/" class="govuk-link">The Single Data Environment: joined-up digital analytics</a></h3>
                <p class="govuk-body">How GDS plans to unlock actionable insights through end-to-end visibility of whole user journeys, ultimately enabling better data-driven decisions.</p>
              </div>
            </div>
        </section>

<h2 class="govuk-heading-l">Sessions by day</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>Monday</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>Tuesday</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>Wednesday</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>Thursday</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>Friday</p>
  </div>
</div>




 <section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Over 100 sessions are taking place at DataConnect23</h2>
            <p class="govuk-body govuk-!-margin-bottom-8">Widely used across government, local authorities and police forces.</p>
            </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-bottom-8 partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="203" height="70" src="assets/images/fcdo.svg" alt="Foreign, Commonwealth & Development Office logo" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="144" height="60" src="assets/images/home-office.svg" alt="Home Office logo" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="moj" width="89" height="70" src="assets/images/moj.svg" alt="Ministry of Justice logo" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="nhs" height="54" src="assets/images/devon_county_council.png" alt="Devon County Council logo" role="presentation">              
              </div>
            </div>
            <div class="govuk-grid-row partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="204" height="56" src="assets/images/canterbury.svg" alt="The logo of Canterbury" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="150" height="53" src="assets/images/city-of-lincoln-council.svg" alt="The logo of the city of Lincoln" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="156.27" height="53" src="assets/images/liverpool-city-council.svg" alt="The logo of Liverpool council" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy"  height="48" src="assets/images/croydon-council.svg" alt="The logo of Croydon council" role="presentation">
              </div>

            </div>
        </section>






 <div class="hero__content">
        <div class="hero__body">
          <h1 class="hero__title">Build and run online services easily</h1>
          <div class="hero__inline-image">
            <img src="https://dataconnect.api.gov.uk/public/images/DataConnect21_logo.png" alt="" role="presentation">
          </div>
          <p class="hero__description">
            GOV.UK Digital Service Platform is a set of tools to make it easier to build and run your online service if you work in the public sector.
          </p>
          <p class="hero__description">
            You can create accessible, low cost online services without needing coding skills or technical knowledge.
          </p>
          <a href="sign-up.html" role="button" class="govuk-button govuk-button--start button--start_white" data-click-events="" data-click-category="Hero" data-click-action="Internal link clicked">  Sign up to learn more
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>
        </div>
        <div class="hero__aside-image">
          <img src="https://dataconnect.api.gov.uk/public/images/DataConnect21_logo.png" alt="An illustration with a laptop of your service, with GOV.UK One Login, Forms, Pay and Notify around it." role="presentation" width="289" height="182">
        </div>
      </div>
    </div>
  </div>



	
{% endblock %}
