{% extends "layout.html" %}
{% block pageTitle %}
  DataConnect23
{% endblock %}
{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://dataconnect.api.gov.uk/">DataConnect23</a>
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}


<p><img src="/public/images/data-connect23.png" alt="DataConnect23 logo" width="77.5" height="77.5"><br/><h1 class="govuk-heading-xl">DataConnect23</h1></p>
<p class="govuk-body"><b>A week of sessions from 25 September to 29 September</b></p>
<p class="govuk-body">DataConnect23 brings together teams from across the UK public sector</br>to share ideas, collaborate and learn from each other.</p>
<p class="govuk-body">All of the sessions are virtual and are delivered by the community, for the community.</p>
<p class="govuk-body">Register for sessions that you are interested in, and you will </br>receive joining information prior to the event in September.</p>
<p class="govuk-body">If you have any specific accessibility requirements, please <a href="">contact us.</a></p>

<hr class="govuk-section-break govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  </div>

<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Explore sessions by theme</h2>
            <p class="govuk-body govuk-!-margin-bottom-8">Find topics of interest to you, across public sector data specialisms.</p>
            </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <a href=""><h3 class="govuk-heading-m">Data management and governance</h3></a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href=""><h3 class="govuk-heading-m">Analysis, research and statistics</h3></a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href=""><h3 class="govuk-heading-m">Data architecture</h3></a>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <a href=""><h3 class="govuk-heading-m">Data quality</h3></a>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href=""><h3 class="govuk-heading-m">Data sharing and APIs</h3></a>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data science</h3>
              </div>
		    <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data ethics and trust</h3>
              </div>
<div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Data leadership and vision</h3>
              </div>
            </div>
        </section>






<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	  




<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
	      <h2 class="govuk-heading-l">Tuesday 26 September</h2>
      </div>
    </div>

    <div class="govuk-grid-row">

 <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">9.15am to 10.00am</h3>
        <p class="govuk-body">Office for National Statistics and TPXImpact</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">The IDS Dissemination platform: APIs and a platform for interoperable statistics</a></h2>
        <p class="govuk-body">ONS and TPXimpact will present the Integrated Data Service dissemination platform: a data platform and APIs to support flexible access to a wide ranging collection of government stats.</p>
      </div>
   
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">10.00am to 11.00am</h3>
        <p class="govuk-body">Department for Business & Trade</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Automating an adaptive Metadata management to improve FAIR principles and data maturity</h2></a>
        <p class="govuk-body">This session will discuss automating the extraction of metadata with its curation, analysis, visualisation for data users and consumers. Find out about FAIR principles and data maturity, and an adaptable “metadata” architecture.</p>
      </div>

 <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">10.45am to 11.30am</h3>
        <p class="govuk-body">Maritime & Coastguard Agency</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><h2 class="govuk-heading-m">Establishing a Data Academy</h2></a>
        <p class="govuk-body">The MCA Data Academy is designed to educate and empower data citizens, data experts, and senior leadership teams. Learn how the organisation developed a programme of apprenticeships, training, certification, communities and career pathways to utilise the power of data.</p>
      </div>
	    
    </div>

  </main>
</div>





<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Sign up to stay in touch</h2>
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="https://mailchi.mp/digital/get-started-with-govuk-digital-services-platforms">Sign up to our mailing list</a> to keep up to date on DataConnect news and future events.</p>
        </div>
        </div>
        </section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
            <h2 class="govuk-heading-l">Sessions you may be interested in</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2023/03/21/notifys-product-strategy-and-upcoming-features/" class="govuk-link">The MCA Data Academy</a></h3>
                <p class="govuk-body">Hear how the Maritime and Coastguard Agency setup a programme of apprenticeships, training, certification, communities and career pathways to utilise the power of data.</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Using data capture on GOV.UK</a></h3>
                <p class="govuk-body">Learn about why GDS are creating an online form builder for government.</p>
              </div>
              <div class="govuk-grid-column-one-third">
               <h3 class="govuk-heading-m"><a href="https://gds.blog.gov.uk/2022/10/06/making-it-easy-to-create-and-publish-digital-forms-on-gov-uk/" class="govuk-link">Data Dashboards at Devon County Council</a></h3>
                <p class="govuk-body">Devon County Council share how they deployed PowerBI to create measurement dashboards across the Council.</p>
              </div>
            </div>
        </section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m" id="bring-it-together">Sessions by day</h3>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><strong>Monday 25 September</strong></a></h2>    
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><strong>Tuesday 26 September</strong></a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><strong>Wednesday 27 September</strong></strong></a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><strong>Thursday 28 September</strong></a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"><strong>Friday 29 September</strong></a></h2>
              </div>
              <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m">Sessions by theme</h3>
                <h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data management and governance</a></h2>    
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Analysis, research and statistics</a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data architecture</a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data quality</a></h2>
              </div>
              <div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-m">&nbsp;</h3>
               <h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data sharing and APIs</a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data science</a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data ethics and trust</a></h2>
<h2 class="govuk-heading-m"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data leadership and vision</a></h2>
              </div>
            </div>
        </section>
	  


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 <section class="product-page-!-border-bottom govuk-!-margin-bottom-8 govuk-!-padding-bottom-8">
                         <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Over 100 sessions are taking place at DataConnect23</h2>
            <p class="govuk-body govuk-!-margin-bottom-8">Connect with teams across government, local authorities, academic institutions and the public sector.</p>
            </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-bottom-8 partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="203" height="70" src="https://dataconnect.api.gov.uk/public/images/fcdo.svg" alt="The logo of the Foreign, Commonwealth & Development Office" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
              <img loading="lazy" width="206" height="86" src="https://dataconnect.api.gov.uk/public/images/university-of-manchester.png" alt="The logo of the University of Manchester" role="presentation">
	      </div>
              <div class="govuk-grid-column-one-quarter">
		      <img loading="lazy" width="213" height="94" src="https://dataconnect.api.gov.uk/public/images/alan-turing.png" alt="The logo of The Alan Turing Institute" role="presentation">

              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="devon" height="54" src="https://dataconnect.api.gov.uk/public/images/devon_county_council.png" alt="The logo of Devon County Council" role="presentation">              
              </div>
            </div>
            <div class="govuk-grid-row partner-grid">
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" width="206" height="42" src="https://dataconnect.api.gov.uk/public/images/neath-port-talbot-council-logo.png" alt="The logo of Neath Port Talbot Council" role="presentation">
              </div>
              <div class="govuk-grid-column-one-quarter">
                <img loading="lazy" class="moj" width="89" height="70" src="https://dataconnect.api.gov.uk/public/images/moj.svg" alt="The logo of the Ministry of Justice" role="presentation">
              </div>
		     <div class="govuk-grid-column-one-quarter">
              <img loading="lazy" width="144" height="60" src="https://dataconnect.api.gov.uk/public/images/home-office.svg" alt="Home Office logo" role="presentation">
		     </div>
		        <div class="govuk-grid-column-one-quarter">
				<img loading="lazy" width="180" height="" src="https://dataconnect.api.gov.uk/public/images/the-welsh-government.png" alt="The logo of the Welsh Government" role="presentation">
                
              </div>

            </div>
        </section>






	  


	
{% endblock %}
