<p><h2>Tuesday</h2></p><p><h3>9:30 - 11:00 SWIRRL: Practical experiences in connecting government data</h3><br>Practical experiences in connecting government data with EA and ONS - in this session Swirrl will explain why it’s useful to make data more connectable and what people are trying to achieve.

Our ONS and Environment Agency colleagues will explain how this contributes to the objectives of their organisations and programmes
- explain why it's hard and the kinds of challenges that need to be tackled, for example around standardisation, managing reference data, harmonisation of data from different sources.
- present practical examples seen in the Integrated Data Programme work with ONS, and with the Environment Agency
- how we’re tackling it, covering both technical approaches and how these fit into the working processes of the organisations - and illustrate this with real examples
- discuss how similar approaches could be adopted more broadly, how this relates to the National Data Strategy
<br>61092d1bcc09f730525db77f,610c068f6d207468724b4fd0</p><p><h3>10:00 - 11:00 DQHub ONS: Data Principles - they promote public trust and enable production of high-quality statistics</h3><br>##Session title
A personal data journey

##Short description

##Format

##Organiser(s) and organisation
Catherine Bremner DQHub ONS

##Time and date
Tuesday 28 September 10:00 - 11:00 am 

##Maximum capacity

##Link for joining or signing up
<br>61092d1bcc09f730525db77d,611b8df2a6a03470255bf4a1</p><p><h3>10:00-10:45 ONS: Data Sharing: Supplier Contact and Engagement Workshop</h3><br>##Session title: 

##Short description
Interactive workshop, discussing:
-How to find the suitable data sources  
-How to contact the suitable suppliers  
-How engagement strategy might vary dependent on supplier type, industry, previous engagement levels, etc.  
-What should be discussed at the first meeting

##Format
Workshop

##Organiser(s) and organisation
Geum young Min, ONS

##Time and date
10:00-10:45 28/09/2021

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>611385bf03f48f5750ee5328,611b8e02c43b508336519ffd</p><p><h3>11:00 - 12:00 CENTRE FOR DATA ETHICS AND INNOVATION: The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption</h3><br>##Session title
The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption

##Short description
The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption

##Format
Show and Tell

##Organiser(s) and organisation
Centre for Data Ethics and Innovation
Ioana Popisteanu (loana.Popisteanu@cdei.gov.uk)

##Time and date
Tuesday 28th September 11:00 - 12:00

##Maximum capacity

##Link for joining or signing up
<br>61092d1bcc09f730525db779</p><p><h3>11:00 - 12:00 OPEN DATA INSTITUTE LEEDS: Creative Collaborative Data Challenge Communities</h3><br>At ODI Leeds we have a firm belief in the network effect of a strong community around a data challenge. Nothing beats collaborating on a challenge with like-minded individuals. We’ve repeatedly used this simple idea to form ad hoc collaborative communities to address a general or specific data need. In this session Giles Dring, Head of Delivery at ODI Leeds, will present some tips on creating sustainable collaborative data communities, from how best to form a community (and why you might need one in the first place) through to maintaining and ultimately retiring or graduating the community into something more formal.<br>61127e8337b97c858c7145e4,610c5aaf60187f5adf643da3,610bfb8edf35781d3d9c7b10</p><p><h3>12:00 - 13:00 DQHub ONS: Data Quality Strategy</h3><br>##Session title: Data Quality Strategy - making it a reality 

##Short description
This interactive session will cover all things Data Quality Strategy related. Join us to discuss how to make the case for a Data Quality Strategy, draft the content for your strategy, and keep the strategy alive once it is published. 
 
Come along to share ideas and learn how your data quality strategy can deliver the required results.  

##Format


##Organiser(s) and organisation
Lucia Barbone, Natalie Mawson & Nazma Kurimbokus
DQHub ONS

##Time and date
28 September
12:00 - 13:00

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>61092d1bcc09f730525db77d,611b8df2a6a03470255bf4a1</p><p><h3>13:00 - 14:00 Join the web of data with CSVW</h3><br>##Session title:
Join the web of data with CSVW

##Short description

##Format

##Organiser(s) and organisation
Darren Barnes, ONS

##Time and date
13:00 - 14:00, 28/09/2021

##Maximum capacity

##Link for joining or signing up
<br>610c5aaf60187f5adf643da3,611b8e02c43b508336519ffd</p><p><h3>13:00 - 14:00 DCMS: National Data Strategy: One Year On</h3><br>##Session title:
National Data Strategy: One Year On

##Short description
The National Data Strategy was published last September by DCMS and outlined the actions we are taking to make the most of data’s opportunities. This session will (i) provide an overview of the National Data Strategy, (ii) highlight what has been achieved over the last year and (iii) outline our plans for the year ahead. 

##Format

##Organiser(s) and organisation
Alex Sunley, National Data Strategy team, DCMS

##Time and date
Tuesday 28th September, 13:00 - 14:00

##Maximum capacity

##Link for joining or signing up
<br>61092d1bcc09f730525db779</p><p><h3>14:00 - 15:00 ONS: Metadata - the backbone of the data value chain</h3><br>##Session title
Metadata - the backbone of the data value chain

##Short description
We are going to share the importance of this back-bone to your data management and business processes.  How we are evolving the back-bone of our data value chain and how this back-bone will support our data strategy and business transformation in the future.
We will share use cases, approach, lessons learnt and anything you ask me. (Probably)


##Format
Presentation

##Organiser(s) and organisation
Mandy Beasley, Office for National Statistics

##Time and date
27 September 2021 14:00 - 15:00

##Maximum capacity

##Link for joining or signing up
<br>610bfe7c3a24bb7875086b3d,611b8df2a6a03470255bf4a1,611b8e02c43b508336519ffd</p><p><h3>14:00 - 15:00 DQHUB ONS: Data Quality Action Plans Workshop 1</h3><br>##Session title
DQAP Workshop/clinic 1

##Short description
Do you want to make a Data Quality Action Plan? This workshop will provide focused support to help you take the first steps. Ideally you should have attended Monday's session introducing the Data Quality Action Plan approach to get the most from this session. 
Attendees will be limited to just three people so we can provide the best support. If you'd like this workshop run for your team, please email dqhub@ons.gov.uk

##Format
workshop/clinic

##Organiser(s) and organisation
Rebecca Strickland 

##Time and date
Tuesday 28th September, 14:00 - 15:00

##Maximum capacity
2-3 people

##Link for joining or signing up
<br>61092d1bcc09f730525db77d</p><p><h3>15:00 - 16:00 ENVIRONMENT AGENCY: Data Literacy – What is it and what do I do with it?</h3><br>Data Literacy – What is it and what do I do with it?

##Short description
Organisations, unlike a lot of Government Departments are constantly looking for the competitive edge to remain successful, profitable and, ultimately, long-lasting.  However regardless of whether you work with a Multi-national Organisation or a Government Dept data is central to that success. Unfortunately, what is becoming apparent is that the vast majority of employees within organisations don’t have the confidence with data to truly unlock its potential.   In fact,  research shows that only 1 in 4 business decision makers would categorise themselves as being fully data literate. At executive level, this number is about 1 in 3. And, crucially, organisations don’t know what steps to take to rectify the skills gap – to place data literacy at the heart of their business.

##Format
clinic or Q&A session

##Organiser(s) and organisation
Chris Hansford, Principal BI Development Manager, Environment Agency

##Time and date
Tuesday 28 September, 15:00 - 16:00

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>610bfeb1f597af7a27439cc1</p><p><h3>14:00 - 15:00 EPIMORPHICS: Data catalogues: what’s working well, and what else do we need? With FSA, Cabinet Office, Defra, and Epimorphics</h3><br>##Session title
Data catalogues: what’s working well, and what else do we need?

##Short description

##Format
Discussion

##Organiser(s) and organisation
Alex Coley, alex.coley@epimorphics.com

##Time and date
Tuesday 28th September, 14:00 - 15:00

##Maximum capacity

##Link for joining or signing up
<br>610bfe7c3a24bb7875086b3d</p><p><h3>15:00-15:45 ONS: Data Sharing: Negotiation and Agreement workshop</h3><br>##Session title: 
Data Sharing: Negotiation and Agreement workshop
##Short description
Interactive workshop, discussing:
What legal gateways are normally used  
What need to be negotiated  
What formats can be used  
What challenges are more likely encountered  

##Format
Workshop

##Organiser(s) and organisation
Geum young Min, ONS

##Time and date
15:00 - 15:45 28/09/21

##Maximum capacity
[If applicable]

##Link for joining or signing up
[Link goes here]
<br>611b8e02c43b508336519ffd,611385bf03f48f5750ee5328</p>