{% extends "layout.html" %}

{% block pageTitle %}
  DataConnect23
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">DataConnect23</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        DataConnect23
      </h1>

      <h3 class="govuk-heading-m" id="data-connect-is-coming">Tuesday 26 September 2023</h3>


<p>&nbsp;</p>    
<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">The IDS Dissemination platform: APIs and a platform for interoperable statistics - ONS</a></strong></p>	        
<h3 class="govuk-heading-s">Tuesday 26 September, 9.15am to 10.00am</h3>
<p>Ross Bowen (ONS) and Rob Chambers (TPXimpact) will present the Integrated Data Service dissemination platform: a data platform and APIs to support flexible access to a wide ranging collection of government stats. But having an API doesn't solve all the problems: the underlying data needs to be interoperable and standards-based too. We brought together data owners across government, defining standards and supporting them with tools and advice to create a high quality set of interoperable data.</p>	    

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<p><strong><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Automating an adaptive Metadata management to improve FAIR principles and data maturity - Department for Business and Trade</a></strong></p>	        
<h3 class="govuk-heading-s">Tuesday 26 September, 10.00am to 11.00am</h3>
<p>Disparate data sources - and their metadata sources - can create an inconsistent and subjective understanding of data asset. A failure of identifying data redundancies can prevent consuming data to support to decision making.  Some enterprise metadata management may become costly and restrictive.  We, therefore, propose to discuss automating the extraction of metadata with its curation, analysis, visualisation for various data users and consumers. FAIR principles and data maturity will be demonstrated through a presentation, including an adaptable “metadata” architecture</p>
  
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-m" id="bring-it-together">Sessions by day</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Monday 25 September</a></p>    
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Tuesday 26 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Wednesday 27 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Thursday 28 September</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Friday 29 September</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-m" id="bring-it-together">Sessions by theme</h3>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data management and governance</a></p>    
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Analysis, research and statistics</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data architecture</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data quality</a></p>
<p class="govuk-body"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Data sharing and APIs</a></p>

	    
  </div>
{% endblock %}
