<p><h2>Tuesday</h2></p><p><h3>9:30 - 11:00 SWIRRL: Practical experiences in connecting government data</h3><br>Practical experiences in connecting government data with EA and ONS - in this session Swirrl will explain why it’s useful to make data more connectable and what people are trying to achieve.<br>
<br>
Our ONS and Environment Agency colleagues will explain how this contributes to the objectives of their organisations and programmes<br>
- explain why it's hard and the kinds of challenges that need to be tackled, for example around standardisation, managing reference data, harmonisation of data from different sources.<br>
- present practical examples seen in the Integrated Data Programme work with ONS, and with the Environment Agency<br>
- how we’re tackling it, covering both technical approaches and how these fit into the working processes of the organisations - and illustrate this with real examples<br>
- discuss how similar approaches could be adopted more broadly, how this relates to the National Data Strategy<br>
<br>Categories:<br>61092d1bcc09f730525db77f,610c068f6d207468724b4fd0</p><p><h3>10:00 - 10:45 DQHub ONS: Data Principles - they promote public trust and enable production of high-quality statistics</h3><br>##Session title<br>
A personal data journey<br>
<br>
##Short description<br>
<br>
##Format<br>
<br>
##Organiser(s) and organisation<br>
Catherine Bremner DQHub ONS<br>
<br>
##Time and date<br>
Tuesday 28 September 10:00 - 10:45 am <br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db77d,611b8df2a6a03470255bf4a1</p><p><h3>10:00-10:45 ONS: Data Sharing: Supplier Contact and Engagement Workshop</h3><br>##Session title: <br>
<br>
##Short description<br>
Interactive workshop, discussing:<br>
-How to find the suitable data sources  <br>
-How to contact the suitable suppliers  <br>
-How engagement strategy might vary dependent on supplier type, industry, previous engagement levels, etc.  <br>
-What should be discussed at the first meeting<br>
<br>
##Format<br>
Workshop<br>
<br>
##Organiser(s) and organisation<br>
Geum young Min, ONS<br>
<br>
##Time and date<br>
10:00-10:45 28/09/2021<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>611385bf03f48f5750ee5328,611b8e02c43b508336519ffd</p><p><h3>11:00 - 12:00 CENTRE FOR DATA ETHICS AND INNOVATION: The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption</h3><br>##Session title<br>
The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption<br>
<br>
##Short description<br>
The CDEI's guide to Privacy Enhancing Technologies and lowering barriers to adoption<br>
<br>
##Format<br>
Show and Tell<br>
<br>
##Organiser(s) and organisation<br>
Centre for Data Ethics and Innovation<br>
Ioana Popisteanu (loana.Popisteanu@cdei.gov.uk)<br>
<br>
##Time and date<br>
Tuesday 28th September 11:00 - 12:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db779</p><p><h3>11:00 - 12:00 OPEN DATA INSTITUTE LEEDS: Creative Collaborative Data Challenge Communities</h3><br>At ODI Leeds we have a firm belief in the network effect of a strong community around a data challenge. Nothing beats collaborating on a challenge with like-minded individuals. We’ve repeatedly used this simple idea to form ad hoc collaborative communities to address a general or specific data need. In this session Giles Dring, Head of Delivery at ODI Leeds, will present some tips on creating sustainable collaborative data communities, from how best to form a community (and why you might need one in the first place) through to maintaining and ultimately retiring or graduating the community into something more formal.<br>Categories:<br>61127e8337b97c858c7145e4,610c5aaf60187f5adf643da3,610bfb8edf35781d3d9c7b10</p><p><h3>12:00-13:00 DQHub ONS: Data Quality Strategy</h3><br>##Session title: Data Quality Strategy - making it a reality <br>
<br>
##Short description<br>
This interactive session will cover all things Data Quality Strategy related. Join us to discuss how to make the case for a Data Quality Strategy, draft the content for your strategy, and keep the strategy alive once it is published. <br>
 <br>
Come along to share ideas and learn how your data quality strategy can deliver the required results.  <br>
<br>
##Format<br>
<br>
<br>
##Organiser(s) and organisation<br>
Lucia Barbone, Natalie Mawson & Nazma Kurimbokus<br>
DQHub ONS<br>
<br>
##Time and date<br>
28 September<br>
12:00 - 13:00<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>61092d1bcc09f730525db77d,611b8df2a6a03470255bf4a1</p><p><h3>13:00-14:00 Join the web of data with CSVW</h3><br>##Session title:<br>
Join the web of data with CSVW<br>
<br>
##Short description<br>
<br>
##Format<br>
<br>
##Organiser(s) and organisation<br>
Darren Barnes, ONS<br>
<br>
##Time and date<br>
13:00 - 14:00, 28/09/2021<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>610c5aaf60187f5adf643da3,611b8e02c43b508336519ffd</p><p><h3>13:00 - 14:00 DCMS: National Data Strategy: One Year On</h3><br>##Session title:<br>
National Data Strategy: One Year On<br>
<br>
##Short description<br>
The National Data Strategy was published last September by DCMS and outlined the actions we are taking to make the most of data’s opportunities. This session will (i) provide an overview of the National Data Strategy, (ii) highlight what has been achieved over the last year and (iii) outline our plans for the year ahead. <br>
<br>
##Format<br>
<br>
##Organiser(s) and organisation<br>
Alex Sunley, National Data Strategy team, DCMS<br>
<br>
##Time and date<br>
Tuesday 28th September, 13:00 - 14:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db779</p><p><h3>14:00 - 15:00 ONS: Metadata - the backbone of the data value chain</h3><br>##Session title<br>
Metadata - the backbone of the data value chain<br>
<br>
##Short description<br>
We are going to share the importance of this back-bone to your data management and business processes.  How we are evolving the back-bone of our data value chain and how this back-bone will support our data strategy and business transformation in the future.<br>
We will share use cases, approach, lessons learnt and anything you ask me. (Probably)<br>
<br>
<br>
##Format<br>
Presentation<br>
<br>
##Organiser(s) and organisation<br>
Mandy Beasley, Office for National Statistics<br>
<br>
##Time and date<br>
27 September 2021 14:00 - 15:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>610bfe7c3a24bb7875086b3d,611b8df2a6a03470255bf4a1,611b8e02c43b508336519ffd</p><p><h3>14:00 - 15:00 DQHUB ONS: Data Quality Action Plans Workshop 1</h3><br>##Session title<br>
DQAP Workshop/clinic 1<br>
<br>
##Short description<br>
Do you want to make a Data Quality Action Plan? This workshop will provide focused support to help you take the first steps. Ideally you should have attended Monday's session introducing the Data Quality Action Plan approach to get the most from this session. <br>
Attendees will be limited to just three people so we can provide the best support. If you'd like this workshop run for your team, please email dqhub@ons.gov.uk<br>
<br>
##Format<br>
workshop/clinic<br>
<br>
##Organiser(s) and organisation<br>
Rebecca Strickland <br>
<br>
##Time and date<br>
Tuesday 28th September, 14:00 - 15:00<br>
<br>
##Maximum capacity<br>
2-3 people<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>61092d1bcc09f730525db77d</p><p><h3>15:00 - 16:00 ENVIRONMENT AGENCY: Data Literacy – What is it and what do I do with it?</h3><br>Data Literacy – What is it and what do I do with it?<br>
<br>
##Short description<br>
Organisations, unlike a lot of Government Departments are constantly looking for the competitive edge to remain successful, profitable and, ultimately, long-lasting.  However regardless of whether you work with a Multi-national Organisation or a Government Dept data is central to that success. Unfortunately, what is becoming apparent is that the vast majority of employees within organisations don’t have the confidence with data to truly unlock its potential.   In fact,  research shows that only 1 in 4 business decision makers would categorise themselves as being fully data literate. At executive level, this number is about 1 in 3. And, crucially, organisations don’t know what steps to take to rectify the skills gap – to place data literacy at the heart of their business.<br>
<br>
##Format<br>
clinic or Q&A session<br>
<br>
##Organiser(s) and organisation<br>
Chris Hansford, Principal BI Development Manager, Environment Agency<br>
<br>
##Time and date<br>
Tuesday 28 September, 15:00 - 16:00<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>610bfeb1f597af7a27439cc1</p><p><h3>14:00 - 15:00 EPIMORPHICS: Data catalogues: what’s working well, and what else do we need? With FSA, Cabinet Office, Defra, and Epimorphics</h3><br>##Session title<br>
Data catalogues: what’s working well, and what else do we need?<br>
<br>
##Short description<br>
<br>
##Format<br>
Discussion<br>
<br>
##Organiser(s) and organisation<br>
Alex Coley, alex.coley@epimorphics.com<br>
<br>
##Time and date<br>
Tuesday 28th September, 14:00 - 15:00<br>
<br>
##Maximum capacity<br>
<br>
##Link for joining or signing up<br>
<br>Categories:<br>610bfe7c3a24bb7875086b3d</p><p><h3>15:00-15:45 ONS: Data Sharing: Negotiation and Agreement workshop</h3><br>##Session title: <br>
Data Sharing: Negotiation and Agreement workshop<br>
##Short description<br>
Interactive workshop, discussing:<br>
What legal gateways are normally used  <br>
What need to be negotiated  <br>
What formats can be used  <br>
What challenges are more likely encountered  <br>
<br>
##Format<br>
Workshop<br>
<br>
##Organiser(s) and organisation<br>
Geum young Min, ONS<br>
<br>
##Time and date<br>
15:00 - 15:45 28/09/21<br>
<br>
##Maximum capacity<br>
[If applicable]<br>
<br>
##Link for joining or signing up<br>
[Link goes here]<br>
<br>Categories:<br>611b8e02c43b508336519ffd,611385bf03f48f5750ee5328</p>